<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--     Equipment List    -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

{% call list.container("{EquipmentScreen}") %}

    <!-- Sort Row -->
    {% call list.sort_header_buttons("{EquipmentList}") %}

        {{ list.sort_button("@SortByNameText", "ExecuteSortByName", "175", "@SortByNameSelected", "@SortByNameState") }}
        {{ list.sort_button("@SortByCategoryText", "ExecuteSortByCategory", "173", "@SortByCategorySelected", "@SortByCategoryState") }}
        {{ list.sort_button("@SortByTierText", "ExecuteSortByTier", "120", "@SortByTierSelected", "@SortByTierState") }}
        {{ list.sort_button("@SortByValueText", "ExecuteSortByValue", "120", "@SortByValueSelected", "@SortByValueState") }}

        <!-- Cap Header Area -->
        {{ list.sort_header_sprite() }}

    {% endcall %}

    <!-- Filter Row -->
    {% call list.sort_header_buttons("{EquipmentList}") %}

        <!-- Pagination -->
        <ListPanel
            WidthSizePolicy="Fixed" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Center"
            PositionXOffset="15"
            SuggestedWidth="120"
            StackLayout.LayoutMethod="HorizontalLeftToRight">
            <Children>
                {{ button.chevron_l("ExecutePrevPage", size="32", is_enabled="@CanGoPrevPage") }}

                {{ text.base(text="@PageText", margin_left="6", margin_right="6") }}

                {{ button.chevron_r("ExecuteNextPage", size="32", is_enabled="@CanGoNextPage") }}
            </Children>
        </ListPanel>

        <!-- Search Filter -->
        {{ list.search_filter(text_width = "100", input_width = "368") }}

        <!-- Cap Header Area -->
        {{ list.sort_header_sprite() }}

    {% endcall %}

    <!-- List Panel -->
    {% call list.panel("{EquipmentList}", "EquipmentList") %}

        <!-- Item List -->
        {% call list.rows("{EquipmentRows}", "Equipment") %}
            {% include "_/equipment/row.j2" %}
        {% endcall %}

    {% endcall %}

{% endcall %}
