<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--        Item Row       -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

<!-- Banner -->
{{ image.banner(
    width="48", height="48",
    margin_right="16"
) }}

<!-- Image -->
{{ image.image(
    width="96", height="48",
    margin_right="16"
) }}

<!-- Comparison icon -->
<SpriteWidget
    IsVisible="@ShowComparisonIcon"
    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
    SuggestedWidth="20" SuggestedHeight="20"
    Sprite="@PositiveComparisonSprite"
    Color="#a5d82fb4"
    HorizontalAlignment="Left" VerticalAlignment="Center" >
    <Children>
        <SpriteWidget
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            SuggestedWidth="20" SuggestedHeight="20"
            Sprite="@NegativeComparisonSprite"
            Color="#d82f2fb4"
            PositionYOffset="@NegativeComparisonSpriteOffset"
            VerticalFlip="true"/>
    </Children>
</SpriteWidget>

<!-- Name -->
{{ text.base(
    text="@Name",
    margin_left="10",
    width_policy="StretchToParent"
) }}

<!-- In Stock Text -->
{{ text.base(
    text="@InStockText",
    brush="Clan.RightPanel.Name.Text",
    font_size="24",
    is_visible="@ShowInStockText",
    horizontal_alignment="Right"
) }}

<!-- Cost -->
{{ text.base(
    text="@Cost",
    is_int=True,
    brush="InventoryGoldFontBrush",
    font_color="@CostFontColor",
    is_visible="@ShowCost",
    horizontal_alignment="Right"
) }}

<!-- Coin icon for the cost -->
{{ image.sprite(
    sprite="General\Icons\Coin@2x",
    width="20", height="20",
    vertical_alignment="Center",
    is_visible="@ShowCost",
    horizontal_alignment="Right"
) }}

<!-- Equipped Checkmark -->
{{ image.sprite(
    sprite="General\Icons\icon_quest_done_checkmark",
    width="40", height="40",
    is_visible="@ShowIsEquipped",
    horizontal_alignment="Right"
) }}

<!-- Disabled Text -->
{{ text.base(
    text="@IsDisabledText",
    brush="Clan.RightPanel.Name.Text",
    font_size="24",
    is_hidden="@IsEnabled",
    horizontal_alignment="Right"
) }}