<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--       Doctrines       -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

<Widget
    DataSource="{DoctrineScreen}"
    WidthSizePolicy="StretchToParent" HeightSizePolicy="CoverChildren"
    DoNotAcceptEvents="false"
    VerticalAlignment="Center" HorizontalAlignment="Center">
    <Children>

        <!-- Column List -->
        <ListPanel 
            DataSource="{Columns}"
            WidthSizePolicy="StretchToParent" HeightSizePolicy="CoverChildren"
            DoNotAcceptEvents="false"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            PositionXOffset="60"
            VerticalAlignment="Center" HorizontalAlignment="Center">
            <ItemTemplate>

                {# Doctrine Column #}
                {% include "_/doctrines/column.j2" %}

            </ItemTemplate>
        </ListPanel>

    </Children>
</Widget>
