<Widget
    VisualDefinition="RightPanel"
    WidthSizePolicy="Fixed" HeightSizePolicy="StretchToParent"
    SuggestedWidth="920"
    MarginRight="16" MarginTop="16"
    HorizontalAlignment="Right">
    <Children>

        {% include "_/panel/character/base.j2" %}

    </Children>
</Widget>