<Widget
    WidthSizePolicy="CoverChildren"
    HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center"
    VerticalAlignment="Center">
    <Children>

        {# Character panel #}
        {% include "_/panel/character/base.j2" %}

    </Children>
</Widget>
