{% from "_/macros.buttons.j2" import button_sprite %}

{# ---------------------------------------------- #}
{# Panel info (top right, all panels)             #}
{# ---------------------------------------------- #}

<ListPanel
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Right" VerticalAlignment="Top"
    StackLayout.LayoutMethod="{{ vttb }}"
    MarginRight="6">
    <Children>

        {# Manual button - always visible #}
        <ListPanel
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Right" VerticalAlignment="Center"
            StackLayout.LayoutMethod="HorizontalLeftToRight">
            <Children>

                <TextWidget
                    DataSource="{ShowManualButton}"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="20"
                    MarginRight="8"
                    Text="@Label" />

                {{ button_sprite("{ShowManualButton}", "32", "32", button_brush="DescriptionButtonToggleBrush") }}

            </Children>
        </ListPanel>

        {# Statistics button - character panel, Player mode only #}
        <ListPanel
            IsVisible="@OnCharacterPage"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Right" VerticalAlignment="Center"
            MarginTop="8"
            StackLayout.LayoutMethod="HorizontalLeftToRight">
            <Children>

                <TextWidget
                    DataSource="{ShowStatisticsButton}"
                    IsVisible="@IsVisible"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="20"
                    MarginRight="8"
                    Text="@Label" />

                {{ button_sprite("{ShowStatisticsButton}", "32", "32", button_brush="HowToLearnButtonToggleBrush") }}

            </Children>
        </ListPanel>

        {# Value row - equipment panel only #}
        <ListPanel
            IsVisible="@OnEquipmentPage"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Right" VerticalAlignment="Center"
            StackLayout.LayoutMethod="HorizontalRightToLeft">
            <Children>

                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    IsVisible="@IsValueLimitVisible"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="18"
                    Text="@ValueLimitText" />

                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    IsVisible="@IsValueLimitVisible"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="18"
                    Text=" / " />

                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="18"
                    Brush.FontColor="@ValueValueColor"
                    Text="@ValueValueText" />

            </Children>
        </ListPanel>

        {# Weight row - equipment panel only #}
        <ListPanel
            IsVisible="@OnEquipmentPage"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Right" VerticalAlignment="Center"
            StackLayout.LayoutMethod="HorizontalRightToLeft">
            <Children>

                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    IsVisible="@IsWeightLimitVisible"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="18"
                    Text="@WeightLimitText" />

                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    IsVisible="@IsWeightLimitVisible"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="18"
                    Text=" / " />

                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="18"
                    Brush.FontColor="@WeightValueColor"
                    Text="@WeightValueText" />

            </Children>
        </ListPanel>

    </Children>
</ListPanel>
