{# ---------------------------------------------- #}
{# Right panel                                    #}
{# ---------------------------------------------- #}

<Widget
    DataSource="{Panel}"
    VisualDefinition="RightPanel"
    WidthSizePolicy="Fixed" HeightSizePolicy="StretchToParent"
    SuggestedWidth="@Width"
    MarginRight="16" MarginTop="16"
    HorizontalAlignment="@HorizontalAlignment">
    <Children>

        {# ------------------------------------------ #}
        {# Character panel                            #}
        {# ------------------------------------------ #}
        {% include "_/panel/character/character.base.j2" %}

        {# ------------------------------------------ #}
        {# Equipment panel                            #}
        {# ------------------------------------------ #}
        {% include "_/panel/equipment/equipment.base.j2" %}

        {# ------------------------------------------ #}
        {# Library panel                              #}
        {# ------------------------------------------ #}
        {% include "_/panel/library/library.base.j2" %}

        {# ------------------------------------------ #}
        {# Doctrines panel                            #}
        {# ------------------------------------------ #}
        {% include "_/panel/doctrines/doctrines.base.j2" %}

        {# ------------------------------------------ #}
        {# Settings panel                            #}
        {# ------------------------------------------ #}
        {% include "_/panel/settings/settings.base.j2" %}

        {# ------------------------------------------ #}
        {# Panel info (top right)                     #}
        {# ------------------------------------------ #}
        {% include "_/panel/panel.info.j2" %}

    </Children>
</Widget>
