<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--      Troop Panel      -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

<ListPanel
    DataSource="{TroopPanel}"
    IsVisible="@IsVisible"
    WidthSizePolicy="StretchToParent"
    HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
>
    <Children>

        {# Name Section #}
        {% include "_/troop/panel/name.j2" %}

        {# Culture Section #}
        {% include "_/troop/panel/culture.j2" %}

        {# Traits Section #}
        {% include "_/troop/panel/traits.j2" %}

        {# Skills Section #}
        {% include "_/troop/panel/skills.j2" %}

        {# Captain Section #}
        {% include "_/troop/panel/captain.j2" %}

        {# Upgrades Section #}
        {% include "_/troop/panel/upgrades.j2" %}

        {# Conversion Section #}
        {% include "_/troop/panel/conversion.j2" %}

    </Children>
</ListPanel>
