<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--       Troop Row       -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

<!-- Image -->
{{ image.image(
    is_visible="@IsTroop",
    width="68", height="48",
    x_offset="-20"
) }}

<!-- Formation Class Icon -->
{{ image.sprite(
    sprite="@FormationClassIcon",
    width="24", height="24",
    margin_right="12"
) }}

<!-- Name -->
{{ text.base(
    text="@NameText"
) }}

<!-- Tier Icon -->
{{ image.sprite(
    data_source="{TierIconData}",
    sprite="@Text",
    width="24", height="24",
    margin_right="12",
    horizontal_alignment="Right",
    is_visible="@IsTierIconVisible"
) }}
