{% from "_/macros.panel.j2" import panel_header, panel_label %}
{% from "_/macros.buttons.j2" import button_text %}
{% from "_/macros.icons.j2" import icon_sprite %}

{# ---------------------------------------------- #}
{# Doctrines panel                                #}
{# ---------------------------------------------- #}

<Widget
    IsVisible="@OnDoctrinesPage"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center" VerticalAlignment="Top"
    MarginRight="160">
    <Children>

        <ListPanel
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            StackLayout.LayoutMethod="{{ vttb }}">
            <Children>

                {# Name #}
                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Center" VerticalAlignment="Center"
                    Brush="Kingdom.NameTitle.Text"
                    Text="@NameText"
                    Brush.FontSize="48"
                    Brush.FontColor="#F4E1C4FF"
                    MarginBottom="24" />

                {# Progress #}
                <ListPanel
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                    HorizontalAlignment="Center"
                    StackLayout.LayoutMethod="HorizontalLeftToRight"
                    MarginBottom="48">
                    <Children>

                        <TextWidget
                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                            HorizontalAlignment="Center" VerticalAlignment="Center"
                            Brush="Clan.RightPanel.Name.Text"
                            Brush.FontSize="28"
                            Brush.FontColor="@ProgressTextColor"
                            Text="@ProgressText" />

                    </Children>
                </ListPanel>

                {# Image #}
                <SpriteWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    HorizontalAlignment="Center" VerticalAlignment="Center"
                    Sprite="@Sprite"
                    SuggestedWidth="75" SuggestedHeight="75"
                    MarginBottom="24" />

                {# Description #}
                {{ panel_header("@DescriptionHeaderText") }}

                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Center" VerticalAlignment="Center"
                    Brush="InventoryGoldFontBrush"
                    Brush.FontColor="#f7ecddff"
                    Brush.FontSize="24"
                    Text="@DescriptionText"
                    MarginBottom="24" />

                {# Status #}
                <ListPanel
                    IsHidden="@ShowFeats"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                    HorizontalAlignment="Center"
                    StackLayout.LayoutMethod="{{ vttb }}">
                    <Children>

                        <TextWidget
                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                            HorizontalAlignment="Center" VerticalAlignment="Center"
                            Brush="Clan.RightPanel.Name.Text"
                            Brush.FontSize="48"
                            Brush.FontColor="@ProgressTextColor"
                            Text="@StatusText" />
                        
                        <TextWidget
                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                            HorizontalAlignment="Center" VerticalAlignment="Center"
                            Brush="Clan.RightPanel.Name.Text"
                            Brush.FontSize="22"
                            Brush.FontColor="@ProgressTextColor"
                            MarginTop="8"
                            Text="@StatusHint" />

                    </Children>
                </ListPanel>

                {# Feats #}
                {{ panel_header("@FeatsHeaderText", is_visible="@ShowFeats") }}

                <ListPanel
                    IsVisible="@ShowFeats"
                    MarginTop="8"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Center" VerticalAlignment="Center">
                    <Children>
                        <ListPanel
                            DataSource="{Feats}"
                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                            StackLayout.LayoutMethod="{{ vttb }}"
                            HorizontalAlignment="Center">
                            <ItemTemplate>
                                <ListPanel
                                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                    StackLayout.LayoutMethod="{{ vttb }}"
                                    MarginBottom="16"
                                    HorizontalAlignment="Center">
                                    <Children>

                                        <TextWidget
                                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                            HorizontalAlignment="Center" VerticalAlignment="Center"
                                            Brush="Kingdom.DecisionParagraph.Text"
                                            MarginBottom="4"
                                            Brush.FontSize="24"
                                            Text="@Name"
                                            TextAlignment="Center" />

                                        <ListPanel
                                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                            StackLayout.LayoutMethod="HorizontalLeftToRight"
                                            MarginBottom="4"
                                            HorizontalAlignment="Center">
                                            <Children>

                                                <TextWidget
                                                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                                    HorizontalAlignment="Center" VerticalAlignment="Center"
                                                    Brush="Kingdom.DecisionParagraph.Text"
                                                    Brush.FontSize="18"
                                                    MaxWidth="720"
                                                    Text="@Description"
                                                    TextAlignment="Center" />

                                            </Children>
                                        </ListPanel>

                                        <ListPanel
                                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                            StackLayout.LayoutMethod="HorizontalLeftToRight"
                                            HorizontalAlignment="Center">
                                            <Children>

                                                <TextWidget
                                                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                                    HorizontalAlignment="Center" VerticalAlignment="Center"
                                                    Brush="Kingdom.DecisionParagraph.Text"
                                                    Brush.FontSize="18"
                                                    Text="@ProgressText"
                                                    MarginRight="4"
                                                    TextAlignment="Center" />

                                                {# Completion / repeatable icon #}
                                                {{ icon_sprite(
                                                    "{FeatProgressIcon}",
                                                    sprite="@Sprite",
                                                    size="20"
                                                ) }}

                                                <TextWidget
                                                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                                    HorizontalAlignment="Center" VerticalAlignment="Center"
                                                    Brush="Kingdom.DecisionParagraph.Text"
                                                    Brush.FontSize="18"
                                                    MaxWidth="720"
                                                    Brush.FontColor="#eec485ff"
                                                    Text="@WorthText"
                                                    TextAlignment="Center" />

                                            </Children>
                                        </ListPanel>

                                    </Children>
                                </ListPanel>

                            </ItemTemplate>
                        </ListPanel>
                    </Children>
                </ListPanel>

                {# Actions #}
                {{ button_text("{AcquireButton}", "Popup.Done.Button", 260, 80) }}

                {# Costs #}
                <TextWidget
                    IsVisible="@ShowCosts"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Center" VerticalAlignment="Center"
                    Brush="Clan.RightPanel.Name.Text"
                    Brush.FontSize="22"
                    Brush.FontColor="#F4E1C4FF"
                    Text="@CostsText" />

            </Children>
        </ListPanel>

    </Children>
</Widget>
