<Widget
    DataSource="{Tableau}"
    WidthSizePolicy="Fixed"
    HeightSizePolicy="StretchToParent"
    SuggestedWidth="300"
    HorizontalAlignment="Left" VerticalAlignment="Center"
    MarginLeft="650">
    <Children>

        {% include "_/column/tableau.j2" %}

        {% include "_/column/customization.j2" %}

    </Children>
</Widget>
