<CharacterTableauWidget
    DataSource="{Model}"
    WidthSizePolicy="Fixed"
    HeightSizePolicy="Fixed"
    SuggestedWidth="600"
    SuggestedHeight="1000"
    VerticalAlignment="Center"
    PositionXOffset="-100"
    DoNotUseCustomScale="true"
    BannerCodeText="@BannerCodeText"
    CharStringId="@CharStringId"
    EquipmentCode="@EquipmentCode"
    BodyProperties="@BodyProperties"
    IsFemale="@IsFemale"
    MountCreationKey="@MountCreationKey"
    Race="@Race"
    StanceIndex="@StanceIndex"
    ArmorColor1="@ArmorColor1"
    ArmorColor2="@ArmorColor2"/>
