########################################
# Build
########################################
/bin/
/obj/
/**/bin/
/**/obj/

# Staging & deploy artifacts
/bin/build/
/bin/Modules/

# DLLs & NuGet packages
*.dll
*.nupkg

########################################
# Logs & diagnostics
########################################
*.log
*.tlog
*.svclog

########################################
# TODO notes
########################################
*.todo
TODO.md

########################################
# Decompiled outputs
########################################
*decompiled*
src/TaleWorlds/

########################################
# IDE & user-specific
########################################
.vs/
.vscode/
.idea/
*.user
*.suo
*.rsuser
*.cache
*.tmp
*.bak
*.swp
*.orig
*.VC.db
*.VC.VC.opendb

########################################
# OS metadata
########################################
.DS_Store
Thumbs.db

########################################
# GitHub config
########################################
.github/

########################################
# Project-specific
########################################
SaveData/
media/
GlobalSuppressions.cs

########################################
# Local developer overrides
########################################
Retinues.Local.props
Retinues.Local.Props
