# Ignore build output
bin/
obj/

# Ignore logs
*.log

# Ignore TODO
*.todo
TODO.md

# Ignore solution files
*.sln

# Ignore decompiled files
*decompiled*

# Ignore user-specific and temp files
*.user
*.suo
*.tmp
*.bak
*.cache
*.vs/

# Ignore VS Code settings
.vscode/

# Ignore SaveData
SaveData/

# Ignore global suppressions
GlobalSuppressions.cs

# Ignore media
media/