<Widget
    WidthSizePolicy="StretchToParent"
    HeightSizePolicy="StretchToParent"
    MarginLeft="8"
    DoNotAcceptEvents="true"
    IsVisible="@IsHero">
    <Children>

        <ListPanel
            WidthSizePolicy="StretchToParent"
            HeightSizePolicy="StretchToParent"
            HorizontalAlignment="Left"
            DoNotAcceptEvents="true">
            <Children>

                {# Image #}
                <Widget
                    DataSource="{Image}"
                    WidthSizePolicy="Fixed"
                    HeightSizePolicy="Fixed"
                    SuggestedWidth="68"
                    SuggestedHeight="48"
                    VerticalAlignment="Center"
                    MarginRight="16"
                    PositionYOffset="-1"
                    DoNotAcceptEvents="true">
                    <Children>
                        <BrushWidget
                            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                            Brush="SPClan.RoleSelectionButton.GoldFrame"/>
                        <BrushWidget
                            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                            Brush="Frame1Canvas"/>

                        <ImageIdentifierWidget
                            WidthSizePolicy="Fixed"
                            HeightSizePolicy="Fixed"
                            SuggestedWidth="66"
                            SuggestedHeight="46"
                            HorizontalAlignment="Center"
                            VerticalAlignment="Center"
                            ImageId="@Id"
                        {% if version == "13" %}
                            TextureProviderName="@TextureProviderName"
                        {% else %}
                            ImageTypeCode="@ImageTypeCode"
                        {% endif %}
                            AdditionalArgs="@AdditionalArgs" />
                    </Children>
                </Widget>

                {# Formation Class #}
                <SpriteWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="24" SuggestedHeight="24"
                    MarginRight="16"
                    VerticalAlignment="Center"
                    Sprite="@FormationClassIcon" />

                {# Main Hero Icon #}
                <SpriteWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    HorizontalAlignment="Left" VerticalAlignment="Center"
                    IsVisible="@ShowMainHeroIcon"
                    Sprite="SPGeneral\GeneralFlagIcons\unique"
                    Color="#c0aa6dff"
                    SuggestedWidth="32" SuggestedHeight="32"
                    MarginRight="12" />

                {# Clan Leader Icon #}
                <SpriteWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    HorizontalAlignment="Left" VerticalAlignment="Center"
                    IsVisible="@ShowClanLeaderIcon"
                    Sprite="SPGeneral\MapOverlay\Settlement\icon_security"
                    Color="#c0aa6dff"
                    SuggestedWidth="36" SuggestedHeight="36"
                    MarginRight="12" />

                {# Faction Leader Icon #}
                <SpriteWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    HorizontalAlignment="Left" VerticalAlignment="Center"
                    IsVisible="@ShowFactionLeaderIcon"
                    Sprite="SPGeneral\SPScoreboard\leader_crown_icon"
                    SuggestedWidth="24" SuggestedHeight="24"
                    MarginRight="12" />

                {# Companion Icon #}
                <SpriteWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    HorizontalAlignment="Left" VerticalAlignment="Center"
                    IsVisible="@ShowCompanionIcon"
                    Sprite="SPGeneral\MapOverlay\Settlement\notable_toggle"
                    SuggestedWidth="32" SuggestedHeight="32"
                    MarginRight="12" />

                {# Name #}
                <TextWidget
                    WidthSizePolicy="StretchToParent"
                    HeightSizePolicy="StretchToParent"
                    VerticalAlignment="Center"
                    Brush="Clan.Tuple.Name.Text"
                    Text="@Name" />
            </Children>
        </ListPanel>

    </Children>
</Widget>
