<Widget
    WidthSizePolicy="StretchToParent"
    HeightSizePolicy="StretchToParent"
    MarginLeft="8"
    DoNotAcceptEvents="true"
    IsVisible="@IsEquipment">
    <Children>

        <ListPanel
            WidthSizePolicy="StretchToParent"
            HeightSizePolicy="StretchToParent"
            HorizontalAlignment="Left"
            DoNotAcceptEvents="true">
            <Children>

                {# Culture image #}
                <Widget
                    DataSource="{CultureImage}"
                    WidthSizePolicy="Fixed"
                    HeightSizePolicy="Fixed"
                    SuggestedWidth="48"
                    SuggestedHeight="48"
                    VerticalAlignment="Center"
                    MarginRight="10"
                    PositionYOffset="-1"
                    DoNotAcceptEvents="true">
                    <Children>
                        <BrushWidget
                            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                            Brush="SPClan.RoleSelectionButton.GoldFrame"/>
                        <BrushWidget
                            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                            Brush="Frame1Canvas"/>

                        <ImageIdentifierWidget
                            WidthSizePolicy="Fixed"
                            HeightSizePolicy="Fixed"
                            SuggestedWidth="48"
                            SuggestedHeight="48"
                            HorizontalAlignment="Center"
                            VerticalAlignment="Center"
                            ImageId="@Id"
                        {% if version == "13" %}
                            TextureProviderName="@TextureProviderName"
                        {% else %}
                            ImageTypeCode="@ImageTypeCode"
                        {% endif %}
                            AdditionalArgs="@AdditionalArgs" />
                    </Children>
                </Widget>

                {# Item image #}
                <Widget
                    DataSource="{Image}"
                    WidthSizePolicy="Fixed"
                    HeightSizePolicy="Fixed"
                    SuggestedWidth="96"
                    SuggestedHeight="48"
                    VerticalAlignment="Center"
                    MarginRight="12"
                    PositionYOffset="-1"
                    DoNotAcceptEvents="true">
                    <Children>
                        <BrushWidget
                            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                            Brush="SPClan.RoleSelectionButton.GoldFrame"/>
                        <BrushWidget
                            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                            Brush="Frame1Canvas"/>

                        <ImageIdentifierWidget
                            WidthSizePolicy="Fixed"
                            HeightSizePolicy="Fixed"
                            SuggestedWidth="94"
                            SuggestedHeight="46"
                            HorizontalAlignment="Center"
                            VerticalAlignment="Center"
                            ImageId="@Id"
                        {% if version == "13" %}
                            TextureProviderName="@TextureProviderName"
                        {% else %}
                            ImageTypeCode="@ImageTypeCode"
                        {% endif %}
                            AdditionalArgs="@AdditionalArgs" />
                    </Children>
                </Widget>

                {# Comparison icon #}
                <SpriteWidget
                    IsVisible="@ShowComparisonIcon"
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="20" SuggestedHeight="20"
                    Sprite="@PositiveComparisonSprite"
                    Color="#a5d82fb4"
                    MarginRight="10"
                    HorizontalAlignment="Left" VerticalAlignment="Center" >
                    <Children>
                        <SpriteWidget
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="20" SuggestedHeight="20"
                            Sprite="@NegativeComparisonSprite"
                            Color="#d82f2fb4"
                            PositionYOffset="@NegativeComparisonSpriteOffset"
                            VerticalFlip="true"/>
                    </Children>
                </SpriteWidget>

                {# Name #}
                <TextWidget
                    WidthSizePolicy="StretchToParent"
                    HeightSizePolicy="StretchToParent"
                    VerticalAlignment="Center"
                    Brush="Clan.Tuple.Name.Text"
                    Text="@Name" />
            </Children>
        </ListPanel>

    </Children>
</Widget>
