<BrushListPanel
    DataSource="{List}"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
    VerticalAlignment="Bottom"
    MarginTop="6" MarginBottom="9" MarginLeft="17"
    Brush="Frame1Brush"
    StackLayout.LayoutMethod="VerticalBottomToTop">

  <Children>

    {% include "_/list.header.j2" %}

    {% include "_/list.main.base.j2" %}

  </Children>
</BrushListPanel>
