{# ---------------------------------------------- #}
{# Checkbox macros                                #}
{# ---------------------------------------------- #}

{# Checkbox backed by Retinues.UI.VM.Checkbox #}
{% macro checkbox(datasource, size) %}
    <Widget
        DataSource="{{ datasource }}"
        IsVisible="@IsVisible"
        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
        SuggestedWidth="{{ size }}" SuggestedHeight="{{ size }}"
        HorizontalAlignment="Center" VerticalAlignment="Center">
        <Children>

            <ButtonWidget
                IsSelected="@IsSelected"
                IsEnabled="@IsEnabled"
                DoNotPassEventsToChildren="false"
                WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                HorizontalAlignment="Center" VerticalAlignment="Center"
                Brush="SPOptions.Checkbox.Empty.Button"
                ButtonType="Toggle"
                ToggleIndicator="ToggleIndicator"
                UpdateChildrenStates="true">
                <Children>

                    <ImageWidget
                        Id="ToggleIndicator"
                        WidthSizePolicy="StretchToParent"
                        HeightSizePolicy="StretchToParent"
                        Brush="SPOptions.Checkbox.Full.Button" />

                    <HintWidget
                        WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                        DataSource="{Tooltip}"
                        Command.HoverBegin="ExecuteBeginHint"
                        Command.HoverEnd="ExecuteEndHint"/>

                </Children>
            </ButtonWidget>

        </Children>
    </Widget>
{% endmacro %}
