<Widget
    IsVisible="@IsVisible"
    WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent">
    <Children>

        {# Editor (existing content) #}
        <Widget
            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent">
            <Children>

                {# Tableau #}
                {% include "_/column/base.j2" %}

                {# List panel #}
                {% include "_/list/base.j2" %}

                {# Main panel #}
                {% include "_/panel/base.j2" %}

            </Children>
        </Widget>

    </Children>
</Widget>
