<Widget
    Id="TopPanel"
    VisualDefinition="TopPanel"
    WidthSizePolicy="StretchToParent" HeightSizePolicy="Fixed"
    SuggestedHeight="196" PositionYOffset="-196"
    Sprite="StdAssets\top_header"
    IsVisible="true"
    ZOrder="9999">
    <Children>
        <Widget
            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
            MarginBottom="35">
            <Children>
                {% macro banner(command, banner, hint, text, offset, text_offset, alignment) -%}
                    <ButtonWidget
                        DoNotPassEventsToChildren="true"
                        WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                        SuggestedHeight="180"
                        HorizontalAlignment="{{ alignment }}" VerticalAlignment="Top"
                        PositionXOffset="{{ offset }}" PositionYOffset="-8"
                        Command.Click="{{ command }}"
                        UpdateChildrenStates="true"
                        GamepadNavigationIndex="0">
                        <Children>
                            <MaskedTextureWidget
                                DataSource="{{ banner }}"
                                WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                                SuggestedWidth="105" SuggestedHeight="126"
                                HorizontalAlignment="{{ alignment }}" VerticalAlignment="Center"
                                Brush="Clan.TornBanner"
                            {% if version == "13" %}
                                AdditionalArgs="@AdditionalArgs" ImageId="@Id" TextureProviderName="@TextureProviderName"/>
                            {% else %}
                                AdditionalArgs="@AdditionalArgs" ImageId="@Id" ImageTypeCode="@ImageTypeCode"/>
                            {% endif %}
                            <HintWidget
                                DataSource="{{ hint }}"
                                Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>
                            <TextWidget
                                WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                HorizontalAlignment="{{ alignment }}" VerticalAlignment="Center"
                                PositionXOffset="{{ text_offset }}"
                                Brush="Kingdom.NameTitle.Text"
                                Text="{{ text }}"
                                TextAlignment="{{ alignment }}" />
                        </Children>
                    </ButtonWidget>
                {%- endmacro %}

                {% macro tab_button(brush, cmd, selected, text, visible="true") -%}
                    <ButtonWidget
                        DoNotPassEventsToChildren="true"
                        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                        SuggestedWidth="!Header.Tab.Center.Width.Scaled"
                        SuggestedHeight="!Header.Tab.Center.Height.Scaled"
                        Brush="{{ brush }}"
                        Command.Click="{{ cmd }}"
                        IsSelected="{{ selected }}"
                        IsVisible="{{ visible }}"
                        UpdateChildrenStates="true">
                        <Children>
                            <TextWidget
                                WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                                Brush="Clan.TabControl.Text"
                                Text="{{ text }}"/>
                        </Children>
                    </ButtonWidget>
                {%- endmacro %}

                {# Culture Banner #}
                {{ banner("ExecuteSelectCulture", "{CultureBanner}", "{CultureBannerHint}", "@CultureName", "20", "120", "Left") }}

                {# Clan Banner #}
                {{ banner("ExecuteSelectClan", "{ClanBanner}", "{ClanBannerHint}", "@ClanName", "-20", "-120", "Right") }}

                {# Name Top Panel #}
                <Widget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="887" SuggestedHeight="180"
                    HorizontalAlignment="Center" VerticalAlignment="Top"
                    Sprite="StdAssets\tabbar_long">
                    <Children>

                        {# Name Container #}
                        <Widget
                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                            HorizontalAlignment="Center" VerticalAlignment="Top"
                            MarginTop="6">
                            <Children>
                                <Widget
                                    DoNotPassEventsToChildren="true"
                                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                                    SuggestedWidth="440" SuggestedHeight="47"
                                    Brush="Kingdom.Name.Edit.Button"
                                    UpdateChildrenStates="true"
                                    GamepadNavigationIndex="2">
                                    <Children>
                                        <ListPanel
                                            WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
                                            StackLayout.LayoutMethod="HorizontalLeftToRight"
                                            HorizontalAlignment="Center"
                                            UpdateChildrenStates="true">
                                            <Children>
                                                <TextWidget
                                                    Brush.FontColor="#cfc1a1ff"
                                                    WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
                                                    Brush.FontSize="60" Text="@EditorTitle"/>
                                            </Children>
                                        </ListPanel>
                                    </Children>
                                </Widget>
                            </Children>
                        </Widget>
                    </Children>
                </Widget>

                {# Tab Control (ClanScreen style) #}
                <ListPanel
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Center" VerticalAlignment="Bottom"
                    MarginBottom="3">
                    <Children>

                        {# Editor Tab (selected for Character + Equipment pages) #}
                        <ButtonWidget
                            DoNotPassEventsToChildren="true"
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="!Header.Tab.Left.Width.Scaled"
                            SuggestedHeight="!Header.Tab.Left.Height.Scaled"
                            Brush="Header.Tab.Left"
                            Command.Click="ExecuteSelectEditorTab"
                            IsSelected="@IsEditorTabSelected"
                            UpdateChildrenStates="true">
                            <Children>
                                <TextWidget
                                    WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                                    PositionXOffset="10" MarginTop="3"
                                    Brush="Clan.TabControl.Text"
                                    Text="@EditorTabText" />
                            </Children>
                        </ButtonWidget>

                        {# Doctrines Tab (player mode only) #}
                        <ButtonWidget
                            DoNotPassEventsToChildren="true"
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="!Header.Tab.Center.Width.Scaled"
                            SuggestedHeight="!Header.Tab.Center.Height.Scaled"
                            PositionYOffset="6"
                            Brush="Header.Tab.Center"
                            Command.Click="ExecuteSelectDoctrinesTab"
                            IsSelected="@IsDoctrinesTabSelected"
                            IsVisible="@IsDoctrinesTabVisible"
                            UpdateChildrenStates="true">
                            <Children>
                                <TextWidget
                                    WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                                    Brush="Clan.TabControl.Text"
                                    Text="@DoctrinesTabText" />
                            </Children>
                        </ButtonWidget>

                        {# Exports Tab #}
                        <ButtonWidget
                            DoNotPassEventsToChildren="true"
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="!Header.Tab.Center.Width.Scaled"
                            SuggestedHeight="!Header.Tab.Center.Height.Scaled"
                            PositionYOffset="6"
                            Brush="Header.Tab.Center"
                            Command.Click="ExecuteSelectExportsTab"
                            IsSelected="@IsExportsTabSelected"
                            UpdateChildrenStates="true">
                            <Children>
                                <TextWidget
                                    WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                                    Brush="Clan.TabControl.Text"
                                    Text="@ExportsTabText" />
                            </Children>
                        </ButtonWidget>

                        {# Settings Tab #}
                        <ButtonWidget
                            DoNotPassEventsToChildren="true"
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="!Header.Tab.Right.Width.Scaled"
                            SuggestedHeight="!Header.Tab.Right.Height.Scaled"
                            Brush="Header.Tab.Right"
                            Command.Click="ExecuteSelectSettingsTab"
                            UpdateChildrenStates="true">
                            <Children>
                                <TextWidget
                                    WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                                    PositionXOffset="-10" MarginTop="3"
                                    Brush="Clan.TabControl.Text"
                                    Text="@SettingsTabText" />
                            </Children>
                        </ButtonWidget>

                    </Children>
                </ListPanel>
            </Children>
        </Widget>
    </Children>
</Widget>
