<ButtonWidget Id="EditorButton"
              WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
              SuggestedWidth="40" SuggestedHeight="40"
              HorizontalAlignment="Right" VerticalAlignment="Top"
              MarginRight="10" MarginTop="10"
              Brush="SPClan.NameChange.Icon"
              Command.Click="ExecuteOpenEditor"
              GamepadNavigationIndex="0">
  <Children>
    <HintWidget DataSource="{EditorHint}"
                WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                Command.HoverBegin="ExecuteBeginHint"
                Command.HoverEnd="ExecuteEndHint"/>
  </Children>
</ButtonWidget>
