{% from "_/list/main.entries.macros.j2" import row_wrapper, image_cell, icon_sprite %}

{% call row_wrapper("@IsHero") %}

    {{ image_cell("{Image}", margin_right=16) }}

    {{ icon_sprite("@FormationClassIcon", sug_w=24, sug_h=24, margin_right=16) }}

    <SpriteWidget
        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
        HorizontalAlignment="Left" VerticalAlignment="Center"
        IsVisible="@ShowMainHeroIcon"
        Sprite="SPGeneral\GeneralFlagIcons\unique"
        Color="#c0aa6dff"
        SuggestedWidth="32" SuggestedHeight="32"
        MarginRight="12" />

    <SpriteWidget
        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
        HorizontalAlignment="Left" VerticalAlignment="Center"
        IsVisible="@ShowClanLeaderIcon"
        Sprite="SPGeneral\MapOverlay\Settlement\icon_security"
        Color="#c0aa6dff"
        SuggestedWidth="36" SuggestedHeight="36"
        MarginRight="12" />

    {{ icon_sprite("SPGeneral\SPScoreboard\leader_crown_icon", sug_w=24, sug_h=24, margin_right=12, is_visible='@ShowFactionLeaderIcon') }}
    {{ icon_sprite("SPGeneral\MapOverlay\Settlement\notable_toggle", sug_w=32, sug_h=32, margin_right=12, is_visible='@ShowCompanionIcon') }}
    {{ icon_sprite("General\Mission\PersonalKillfeed\kill_icon", sug_w=32, sug_h=32, margin_right=12, is_visible='@ShowDeadIcon') }}

    <TextWidget
        WidthSizePolicy="StretchToParent"
        HeightSizePolicy="StretchToParent"
        VerticalAlignment="Center"
        Brush="Clan.Tuple.Name.Text"
        Text="@Name" />

{% endcall %}
