{% from "_/macros.checkbox.j2" import checkbox %}
{% from "_/macros.buttons.j2" import button_brush, button_text %}
{% from "_/macros.icons.j2" import icon %}

{# ---------------------------------------------- #}
{# Character controls                             #}
{# ---------------------------------------------- #}

<ListPanel
    DataSource="{CharacterControls}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Left" VerticalAlignment="Top">
    <Children>

        {# ------------------------------------------ #}
        {# Export                                     #}
        {# ------------------------------------------ #}

        <ListPanel
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                {{ icon(
                    "{ExportIcon}",
                    "StdAssets\lock_closed",
                    "StdAssets\Popup\order_popup_card_default",
                    size="32",
                    sprite_size="24"
                ) }}

                {{ button_brush("{ExportButton}", "TownManagement.Reserve.ConfirmButton", "32", "32") }}

            </Children>
        </ListPanel>

        {# ------------------------------------------ #}
        {# Formation Class                            #}
        {# ------------------------------------------ #}

        <ListPanel
            IsVisible="@ShowFormationClass"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                {{ icon(
                    "{FormationClassIcon}",
                    "@Sprite",
                    "StdAssets\Popup\order_popup_card_default",
                    size="32",
                    sprite_size="20",
                    margin_right="2"
                ) }}

                {{ button_brush("{ChangeFormationClassButton}", "SPClan.Members.RecallIcon", "34", "34") }}

            </Children>
        </ListPanel>

        {# ------------------------------------------ #}
        {# Mariner toggle                             #}
        {# ------------------------------------------ #}

        <ListPanel
            IsVisible="@ShowMarinerToggle"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                {{ icon(
                    "{MarinerIcon}",
                    "SPGeneral\Skills\gui_skills_icon_mariner_tiny",
                    "StdAssets\Popup\order_popup_card_default",
                    size="32",
                    sprite_size="24"
                ) }}

                {{ checkbox("{MarinerToggle}", "32") }}

            </Children>
        </ListPanel>

    </Children>
</ListPanel>

<ListPanel
    DataSource="{CharacterControls}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Center" VerticalAlignment="Top">
    <Children>

        {{ button_text("{RemoveCharacterButton}", "Popup.Delete.Button", "200", "60") }}

    </Children>
</ListPanel>
