{% from "_/macros.checkbox.j2" import checkbox %}
{% from "_/macros.buttons.j2" import button_brush, button_sprite, button_text %}
{% from "_/macros.icons.j2" import icon_sprite %}

{# ---------------------------------------------- #}
{# Character controls                             #}
{# ---------------------------------------------- #}

<ListPanel
    DataSource="{CharacterControls}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="{{ vttb }}"
    HorizontalAlignment="Left" VerticalAlignment="Top">
    <Children>

        {# ------------------------------------------ #}
        {# Mixed Gender Toggle                        #}
        {# ------------------------------------------ #}

        <ListPanel
            IsVisible="@ShowMixedGenderToggle"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                {{ icon_sprite(
                    "{MixedGenderIcon}",
                    "@Sprite",
                    "StdAssets\Popup\order_popup_card_default",
                    size="32",
                    sprite_size="24"
                ) }}

                {{ checkbox("{MixedGenderToggle}", "32") }}

            </Children>
        </ListPanel>

        {# ------------------------------------------ #}
        {# Formation Class                            #}
        {# ------------------------------------------ #}

        <ListPanel
            IsVisible="@ShowFormationClass"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                {{ icon_sprite(
                    "{FormationClassIcon}",
                    "@Sprite",
                    "StdAssets\Popup\order_popup_card_default",
                    size="32",
                    sprite_size="20"
                ) }}

                {{ checkbox("{FormationClassButton}", "32") }}

            </Children>
        </ListPanel>

        {# ------------------------------------------ #}
        {# Captain Mode Toggle                        #}
        {# ------------------------------------------ #}

        <ListPanel
            IsVisible="@ShowCaptainModeToggle"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                {{ icon_sprite(
                    "{CaptainModeIcon}",
                    "@Sprite",
                    "StdAssets\Popup\order_popup_card_default",
                    size="32",
                    sprite_size="32"
                ) }}

                {{ checkbox("{CaptainModeToggle}", "32") }}

            </Children>
        </ListPanel>

        {# ------------------------------------------ #}
        {# Mariner Toggle                             #}
        {# ------------------------------------------ #}

        <ListPanel
            IsVisible="@ShowMarinerToggle"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                {{ icon_sprite(
                    "{MarinerIcon}",
                    "SPGeneral\Skills\gui_skills_icon_mariner_tiny",
                    "StdAssets\Popup\order_popup_card_default",
                    size="32",
                    sprite_size="24"
                ) }}

                {{ checkbox("{MarinerToggle}", "32") }}

            </Children>
        </ListPanel>

    </Children>
</ListPanel>

<ListPanel
    DataSource="{CharacterControls}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="{{ vttb }}"
    HorizontalAlignment="Center" VerticalAlignment="Top">
    <Children>

        {# Remove Button #}
        {{ button_text("{RemoveCharacterButton}", "Popup.Delete.Button", "200", "60") }}

        {# Rank Up Button #}
        {{ button_text("{RankUpButton}", "Popup.Done.Button", "200", "60") }}

        {# Captain Toggle #}
        {{ button_text("{ToggleCaptainEnabledButton}", "@Sprite", "200", "60") }}

    </Children>
</ListPanel>
