{% from "_/macros.checkbox.j2" import checkbox %}
{% from "_/macros.buttons.j2" import button_chevron_left, button_chevron_right, button_brush %}

{# ---------------------------------------------- #}
{# Equipment controls                             #}
{# ---------------------------------------------- #}

<ListPanel
    DataSource="{EquipmentControls}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Left" VerticalAlignment="Top">
    <Children>

        <ListPanel
            IsVisible="@ShowPreviewModeToggle"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                <SpriteWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="32" SuggestedHeight="32"
                    HorizontalAlignment="Center" VerticalAlignment="Center"
                    MarginRight="4"
                    Sprite="StdAssets\Popup\order_popup_card_default" >
                    <Children>

                        <SpriteWidget
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="32" SuggestedHeight="32"
                            HorizontalAlignment="Center" VerticalAlignment="Center"
                            Sprite="Inventory\icon_inspect" />
                    </Children>
                </SpriteWidget>

                {{ checkbox(binding="@PreviewMode", size="32", tooltip="{PreviewModeTooltip}") }}

            </Children>
        </ListPanel>

        <ListPanel
            IsVisible="@ShowCraftedToggle"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                <SpriteWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="32" SuggestedHeight="32"
                    HorizontalAlignment="Center" VerticalAlignment="Center"
                    MarginRight="4"
                    Sprite="StdAssets\Popup\order_popup_card_default" >
                    <Children>

                        <SpriteWidget
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="24" SuggestedHeight="24"
                            HorizontalAlignment="Center" VerticalAlignment="Center"
                            Sprite="General\Mission\smithy" />
                    </Children>
                </SpriteWidget>

                {{ checkbox(binding="@ShowCrafted", size="32", tooltip="{CraftedToggleTooltip}") }}

            </Children>
        </ListPanel>

    </Children>
</ListPanel>

<ListPanel
    DataSource="{EquipmentControls}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Center" VerticalAlignment="Top">
    <Children>

        {# ------------------------------------------ #}
        {# Civilian toggle                            #}
        {# ------------------------------------------ #}

        <ButtonWidget
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            SuggestedWidth="200" SuggestedHeight="60"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            Brush="ButtonBrush3"
            Command.Click="ExecuteToggleShowCivilian"
            UpdateChildrenStates="true"
            DoNotPassEventsToChildren="true">
            <Children>

                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Center" VerticalAlignment="Center"
                    Brush="Popup.Button.Text"
                    Text="@ToggleShowCivilianButtonText" />

            </Children>
        </ButtonWidget>

        {# ------------------------------------------ #}
        {# Equipment set actions                      #}
        {# ------------------------------------------ #}

        <ListPanel
            IsVisible="@ShowSetActionButtons"
            MarginTop="4"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <Children>

                {{ button_brush("{DeleteSetButton}", "Inventory.Tuple.Extension.MinusButton", "36", "36") }}

                {{ button_chevron_left("{PrevSetButton}", "24", "24") }}

                <TextWidget
                    Text="@EquipmentLabel"
                    Brush="Clan.Tuple.Name.Text"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    MarginLeft="8" MarginRight="8"
                    HorizontalAlignment="Center" VerticalAlignment="Center" />

                {{ button_chevron_right("{NextSetButton}", "24", "24") }}

                {{ button_brush("{CreateSetButton}", "Inventory.Tuple.Extension.PlusButton", "36", "36") }}

            </Children>
        </ListPanel>

        {# ------------------------------------------ #}
        {# Preview Mode Text                          #}
        {# ------------------------------------------ #}

        <TextWidget
            IsVisible="@ShowPreviewModeText"
            MarginTop="6"
            Text="@PreviewModeText"
            Brush="Clan.Tuple.Name.Text"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Center" VerticalAlignment="Center" />

    </Children>
</ListPanel>
