{% from "_/macros.checkbox.j2" import checkbox %}
{% from "_/macros.buttons.j2" import button_chevron_left, button_chevron_right, button_brush, button_sprite %}
{% from "_/macros.icons.j2" import icon_sprite %}

{# ---------------------------------------------- #}
{# Equipment controls                             #}
{# ---------------------------------------------- #}

<ListPanel
    DataSource="{EquipmentControls}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Left" VerticalAlignment="Top">
    <Children>

        <ListPanel
            IsVisible="@ShowPreviewModeToggle"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                {{ icon_sprite(
                    "{PreviewModeIcon}",
                    "Inventory\icon_inspect",
                    "StdAssets\Popup\order_popup_card_default",
                    size="32",
                    sprite_size="32"
                ) }}

                {{ checkbox("{PreviewModeToggle}", "32") }}

            </Children>
        </ListPanel>

        <ListPanel
            IsVisible="@ShowCraftedToggle"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Left" VerticalAlignment="Top"
            MarginBottom="8">
            <Children>

                {{ icon_sprite(
                    "{CraftedIcon}",
                    "General\Mission\smithy",
                    "StdAssets\Popup\order_popup_card_default",
                    size="32",
                    sprite_size="24"
                ) }}

                {{ checkbox("{CraftedToggle}", "32") }}

            </Children>
        </ListPanel>

    </Children>
</ListPanel>

<ListPanel
    DataSource="{EquipmentControls}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Center" VerticalAlignment="Top">
    <Children>

        {# ------------------------------------------ #}
        {# Civilian toggle                            #}
        {# ------------------------------------------ #}

        <ButtonWidget
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            SuggestedWidth="200" SuggestedHeight="60"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            Brush="ButtonBrush3"
            Command.Click="ExecuteToggleShowCivilian"
            UpdateChildrenStates="true"
            DoNotPassEventsToChildren="true">
            <Children>

                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Center" VerticalAlignment="Center"
                    Brush="Popup.Button.Text"
                    Text="@ToggleShowCivilianButtonText" />

            </Children>
        </ButtonWidget>

        {# ------------------------------------------ #}
        {# Equipment set actions                      #}
        {# ------------------------------------------ #}

        <ListPanel
            IsVisible="@ShowSetActionButtons"
            MarginTop="4"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <Children>

                {{ button_brush("{DeleteSetButton}", "Inventory.Tuple.Extension.MinusButton", "36", "36") }}

                {{ button_sprite(
                    "{CopyEquipmentButton}",
                    "36", "36",
                    button_brush="Inventory.Tuple.Extension.PlusButton",
                    icon_w="24", icon_h="24"
                ) }}

                {{ button_chevron_left("{PrevSetButton}", "24", "24") }}

                <TextWidget
                    Text="@EquipmentLabel"
                    Brush="Clan.Tuple.Name.Text"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    MarginLeft="8" MarginRight="8"
                    HorizontalAlignment="Center" VerticalAlignment="Center" />

                {{ button_chevron_right("{NextSetButton}", "24", "24") }}

                {{ button_sprite(
                    "{PasteEquipmentButton}",
                    "36", "36",
                    button_brush="Inventory.Tuple.Extension.PlusButton",
                    icon_w="24", icon_h="24"
                ) }}

                {{ button_brush("{CreateSetButton}", "Inventory.Tuple.Extension.PlusButton", "36", "36") }}

            </Children>
        </ListPanel>

        {# ------------------------------------------ #}
        {# Set Toggles                                #}
        {# ------------------------------------------ #}

        <ListPanel
            IsVisible="@ShowBattleTypeToggles"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Center"
            MarginTop="4"
            StackLayout.LayoutMethod="HorizontalLeftToRight">
            <Children>

                {% macro battle_set_toggle(sprite, tooltip, checkbox_datasource, is_visible="true") %}
                    <ListPanel
                        IsVisible="{{ is_visible }}"
                        WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                        SuggestedHeight="32"
                        HorizontalAlignment="Center">
                        <Children>

                            <SpriteWidget
                                WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                                SuggestedWidth="32" SuggestedHeight="32"
                                HorizontalAlignment="Center" VerticalAlignment="Center"
                                Sprite="{{ sprite }}" >
                                <Children>
                                    <HintWidget
                                        DataSource="{{ tooltip }}"
                                        Command.HoverBegin="ExecuteBeginHint"
                                        Command.HoverEnd="ExecuteEndHint" />
                                </Children>
                            </SpriteWidget>

                            {{ checkbox(checkbox_datasource, "24") }}

                        </Children>
                    </ListPanel>
                {% endmacro %}

                {{ battle_set_toggle(
                    "SPGeneral\MapOverlay\Settlement\icon_garrison_big",
                    "{FieldBattleTooltip}",
                    "{FieldBattleToggle}"
                ) }}

                {{ battle_set_toggle(
                    "SPGeneral\MapOverlay\Settlement\icon_wall_big",
                    "{SiegeBattleTooltip}",
                    "{SiegeBattleToggle}"
                ) }}

                {{ battle_set_toggle(
                    "SPGeneral\MapOverlay\Settlement\icon_prosperity_big",
                    "{NavalBattleTooltip}",
                    "{NavalBattleToggle}",
                    is_visible="@ShowNavalBattleToggle"
                ) }}

            </Children>
        </ListPanel>

        {# ------------------------------------------ #}
        {# Preview Mode Text                          #}
        {# ------------------------------------------ #}

        <TextWidget
            IsVisible="@ShowPreviewModeText"
            MarginTop="6"
            Text="@PreviewModeText"
            Brush="Clan.Tuple.Name.Text"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Center" VerticalAlignment="Center" />

    </Children>
</ListPanel>
