{% from "_/macros.rows.j2" import row_wrapper, icon_sprite %}

{% call row_wrapper("@IsDoctrine") %}

    {{ icon_sprite("@StateIconSprite", color="@StateIconColor", sug_w=28, sug_h=28, margin_right=14) }}

    <TextWidget
        WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
        VerticalAlignment="Center"
        Brush="Clan.Tuple.Name.Text"
        Text="@Name" />

    <TextWidget
        WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
        VerticalAlignment="Center"
        HorizontalAlignment="Right"
        Brush="Clan.Tuple.Name.Text"
        Brush.FontSize="22"
        MarginLeft="12"
        Text="@StateText" />

{% endcall %}
