{% from "_/macros.buttons.j2" import button_sprite %}

{# ---------------------------------------------- #}
{# Manual & Statistics                            #}
{# ---------------------------------------------- #}

<ListPanel
    IsVisible="@OnCharacterPage"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Right" VerticalAlignment="Top"
    StackLayout.LayoutMethod="{{ vttb }}"
    MarginRight="6">
    <Children>

        {# Manual button #}
        <ListPanel
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Right" VerticalAlignment="Center"
            StackLayout.LayoutMethod="HorizontalLeftToRight">
            <Children>

                <TextWidget
                    DataSource="{ShowManualButton}"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="20"
                    MarginRight="8"
                    Text="@Label" />

                {{ button_sprite("{ShowManualButton}", "32", "32", button_brush="DescriptionButtonToggleBrush") }}
            
            </Children>
        </ListPanel>

        {# History button #}
        <ListPanel
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Right" VerticalAlignment="Center"
            MarginTop="8"
            StackLayout.LayoutMethod="HorizontalLeftToRight">
            <Children>

                <TextWidget
                    DataSource="{ShowStatisticsButton}"
                    IsVisible="@IsVisible"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Right" VerticalAlignment="Center"
                    Brush="Popup.Button.Text"
                    Brush.FontSize="20"
                    MarginRight="8"
                    Text="@Label" />

                {{ button_sprite("{ShowStatisticsButton}", "32", "32", button_brush="HowToLearnButtonToggleBrush") }}
            
            </Children>
        </ListPanel>

    </Children>
</ListPanel>
