<!-- Culture Header -->
<TextWidget
    Text="@CultureHeaderText"
    Brush="Kingdom.TitleSmall.Text"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center" VerticalAlignment="Center"
    MarginBottom="12" />

<!-- Culture Block -->
<ListPanel
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center" VerticalAlignment="Center"
    StackLayout.LayoutMethod="HorizontalLeftToRight"
    MarginBottom="12">
    <Children>

        <!-- Culture Name -->
        <TextWidget
            Text="@CultureText"
            Brush="Clan.RightPanel.Name.Text"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Center" VerticalAlignment="Center"/>

        <!-- Change Culture Button -->
        <Widget
            HorizontalAlignment="Center" VerticalAlignment="Center"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren">
            <Children>
                <ButtonWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    HorizontalAlignment="Center" VerticalAlignment="Center"
                    SuggestedWidth="40" SuggestedHeight="40"
                    Brush="SPClan.Parties.ChangePartyLeaderIcon"
                    Command.Click="ExecuteChangeCulture" />
            </Children>
        </Widget>
    </Children>
</ListPanel>