{% from "_/panel/character/base.macros.j2" import field_header, field_label, field_button %}

<!-- Culture Header -->
{{ field_header("@CultureHeaderText") }}

<!-- Culture Block -->
<ListPanel
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center" VerticalAlignment="Center"
    StackLayout.LayoutMethod="HorizontalLeftToRight"
    MarginBottom="12">
    <Children>

        <!-- Culture Name -->
        {{ field_label("@CultureText") }}

        <!-- Change Culture Button -->
        {{ field_button("ExecuteChangeCulture", "SPClan.Parties.ChangePartyLeaderIcon", "40") }}
    </Children>
</ListPanel>