{% from "_/panel/character/base.macros.j2" import field_header, field_label, field_button %}

{# Name Header #}
{{ field_header("@NameHeaderText") }}

{# Name Block #}
<ListPanel
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center" VerticalAlignment="Center"
    StackLayout.LayoutMethod="HorizontalLeftToRight"
    MarginBottom="12">
    <Children>
        {# Troop Name #}
        {{ field_label("@NameText") }}

        {# Rename Button #}
        {{ field_button("ExecuteRename", "SPClan.NameChange.Icon", "32") }}
    </Children>
</ListPanel>
