{% macro chevron(command, brush, enabled, hint, size) %}

<Widget
    HorizontalAlignment="Center" VerticalAlignment="Center"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren">
    <Children>

        <HintWidget
            DataSource="{{ hint }}"
            Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>

        <ButtonWidget
            IsVisible="{{ enabled }}"
            IsEnabled="true"
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            SuggestedWidth="{{ size }}" SuggestedHeight="{{ size }}"
            Brush="Popup.Button.Text"
            Command.Click="{{ command }}"
            UpdateChildrenStates="true" DoNotPassEventsToChildren="true">
            <Children>
                <BrushWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="{{ size }}" SuggestedHeight="{{ size }}"
                    Brush="{{ brush }}"/>
            </Children>
        </ButtonWidget>

        <ButtonWidget
            IsHidden="{{ enabled }}"
            IsEnabled="false"
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            SuggestedWidth="{{ size }}" SuggestedHeight="{{ size }}"
            Brush="Popup.Button.Text"
            Command.Click="{{ command }}"
            UpdateChildrenStates="true" DoNotPassEventsToChildren="true">
            <Children>
                <BrushWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="{{ size }}" SuggestedHeight="{{ size }}"
                    Brush="{{ brush }}"/>
            </Children>
        </ButtonWidget>

    </Children>
</Widget>

{%- endmacro %}


{% macro skill(icon, chev, small) -%}
{% set margin = small * 2 %}
{% set big = small * 4 %}
{% set textw = icon - (chev * 2) %}
{% set height = icon + 30 %}

<Widget WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    MarginBottom="{{ margin }}" HorizontalAlignment="Center">
    <Children>

        <ListPanel WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            SuggestedWidth="{{ icon }}" SuggestedHeight="{{ height }}"
            StackLayout.LayoutMethod="VerticalBottomToTop"
            HorizontalAlignment="Center"
            MarginRight="{{ big }}" MarginLeft="{{ big }}" MarginBottom="{{ small }}">
            <Children>

                <SkillIconVisualWidget
                    SkillId="@Id"
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="{{ icon }}" SuggestedHeight="{{ icon }}"
                    DoNotPassEventsToChildren="false"
                    MarginBottom="{{ margin }}">
                    <Children>
                        <HintWidget DataSource="{Hint}"
                            Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>
                    </Children>
                </SkillIconVisualWidget>

                <ListPanel WidthSizePolicy="StretchToParent" HeightSizePolicy="CoverChildren"
                    StackLayout.LayoutMethod="HorizontalLeftToRight"
                    HorizontalAlignment="Center"
                    UpdateChildrenStates="true">
                    <Children>

                        {{ chevron("ExecuteDecrease", "ButtonRightBigArrowBrush1", "@CanDecrease", "{TooltipDecrease}", chev) }}

                        <TextWidget IntText="@Value"
                            Brush="Encyclopedia.Skill.Text"
                            Brush.FontColor="@ValueColor"
                            Brush.FontSize="24"
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="{{ textw }}" SuggestedHeight="24"
                            HorizontalAlignment="Center" VerticalAlignment="Center" />

                        {{ chevron("ExecuteIncrease", "ButtonLeftBigArrowBrush1", "@CanIncrease", "{TooltipIncrease}", chev) }}

                    </Children>
                </ListPanel>

            </Children>
        </ListPanel>

    </Children>
</Widget>

{%- endmacro %}

{% from "_/panel/character/base.macros.j2" import field_header %}

{{ field_header("@SkillsHeaderText") }}

{# Skills Grid #}

<!-- 2x4 -->
<ListPanel IsVisible="@SkillsLayout_2x4"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalTopToBottom"
    HorizontalAlignment="Center">
    <Children>
        <ListPanel DataSource="{SkillsRow1}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>
                {{ skill(80,20,4) }}
            </ItemTemplate>
        </ListPanel>

        <ListPanel DataSource="{SkillsRow2}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>
                {{ skill(80,20,4) }}
            </ItemTemplate>
        </ListPanel>
    </Children>
</ListPanel>


<!-- 3x4 -->
<ListPanel IsVisible="@SkillsLayout_3x4"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalTopToBottom"
    HorizontalAlignment="Center">
    <Children>
        <ListPanel DataSource="{SkillsRow1}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(72,18,3) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow2}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(72,18,3) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow3}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(72,18,3) }}</ItemTemplate>
        </ListPanel>
    </Children>
</ListPanel>

<!-- 3x6 -->
<ListPanel IsVisible="@SkillsLayout_3x6"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalTopToBottom"
    HorizontalAlignment="Center">
    <Children>
        <ListPanel DataSource="{SkillsRow1}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(64,16,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow2}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(64,16,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow3}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(64,16,2) }}</ItemTemplate>
        </ListPanel>
    </Children>
</ListPanel>

<!-- 4x6 -->
<ListPanel IsVisible="@SkillsLayout_4x6"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalTopToBottom"
    HorizontalAlignment="Center">
    <Children>
        <ListPanel DataSource="{SkillsRow1}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(64,16,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow2}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(64,16,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow3}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(64,16,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow4}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(64,16,2) }}</ItemTemplate>
        </ListPanel>
    </Children>
</ListPanel>

<!-- >24 fallback -->
<ListPanel IsVisible="@SkillsLayout_Small"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalTopToBottom"
    HorizontalAlignment="Center">
    <Children>
        <ListPanel DataSource="{SkillsRow1}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(54,14,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow2}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(54,14,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow3}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(54,14,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow4}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(54,14,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow5}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(54,14,2) }}</ItemTemplate>
        </ListPanel>
        <ListPanel DataSource="{SkillsRow6}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <ItemTemplate>{{ skill(54,14,2) }}</ItemTemplate>
        </ListPanel>
    </Children>
</ListPanel>
