{% from "_/panel/character/base.macros.j2" import field_header %}

{% macro upgrade_text(text) -%}
    <ButtonWidget
        DoNotPassEventsToChildren="true"
        WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
        HorizontalAlignment="Center" VerticalAlignment="Center"
        Command.Click="ExecuteSelect"
        UpdateChildrenStates="true">
        <Children>
            <TextWidget
                WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                HorizontalAlignment="Center" VerticalAlignment="Center"
                Brush="Kingdom.NameTitle.Text"
                Brush.FontSize="24"
                Brush.FontColor="#ac8856ff"
                Text="{{ text }}"
                TextAlignment="Center" />
        </Children>
    </ButtonWidget>
{%- endmacro %}

{# Upgrade Sources Header #}
{{ field_header("@UpgradeSourcesHeaderText", "@HasUpgradeSources") }}

<ListPanel
    DataSource="{UpgradeSources}"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Center">
    <ItemTemplate>
        {{ upgrade_text(text="@Name") }}
    </ItemTemplate>
</ListPanel>

<Widget IsVisible="@HasUpgradeSources" MarginBottom="12" />

{# Upgrade Targets Header #}
{{ field_header("@UpgradeTargetsHeaderText", "@HasUpgradeTargets") }}

<ListPanel
    DataSource="{UpgradeTargets}"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    MarginBottom="6"
    HorizontalAlignment="Center">
    <ItemTemplate>
        <Widget
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Center" VerticalAlignment="Center" >
            <Children>
                {{ upgrade_text(text="@Name") }}
            </Children>
        </Widget>
    </ItemTemplate>
</ListPanel>

<ListPanel
    IsVisible="@CanAddUpgradeTarget"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="HorizontalLeftToRight"
    HorizontalAlignment="Center">
    <Children>
        <TextWidget
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            Brush="Clan.Name.Tuple"
            Brush.FontSize="20"
            Text="@AddUpgradeTargetText"
            TextAlignment="Center" />
        <ButtonWidget
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            SuggestedWidth="36" SuggestedHeight="36"
            MarginLeft="4"
            Brush="Inventory.Tuple.Extension.PlusButton"
            Command.Click="ExecuteAddUpgradeTarget" UpdateChildrenStates="true" DoNotPassEventsToChildren="true"/>
    </Children>
</ListPanel>

<Widget IsVisible="@HasUpgradeTargets" MarginBottom="12" />