<Widget
    DataSource="{Editor}"
    IsVisible="@IsVisible"
    WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent">
    <Children>
        {% include "_/list/base.j2" %}
    </Children>
</Widget>
