<Widget
    Id="TopPanel"
    VisualDefinition="TopPanel"
    WidthSizePolicy="StretchToParent" HeightSizePolicy="Fixed"
    SuggestedHeight="196" PositionYOffset="-196"
    Sprite="StdAssets\top_header">
    <Children>
        <Widget
            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
            MarginBottom="35">
            <Children>

                <!--Culture Banner-->
                <ButtonWidget
                    DataSource="{Editor}"
                    DoNotPassEventsToChildren="true"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                    SuggestedHeight="180"
                    HorizontalAlignment="Left" VerticalAlignment="Top"
                    PositionXOffset="20" PositionYOffset="-8"
                    Command.Click="ExecuteSelectCulture"
                    UpdateChildrenStates="true"
                    GamepadNavigationIndex="0">
                    <Children>
                        <MaskedTextureWidget
                            DataSource="{CultureBanner}"
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="105" SuggestedHeight="126"
                            HorizontalAlignment="Left" VerticalAlignment="Center"
                            Brush="Clan.TornBanner"
                            AdditionalArgs="@AdditionalArgs" ImageId="@Id" ImageTypeCode="@ImageTypeCode" />
                        <HintWidget
                            DataSource="{CultureBannerHint}"
                            Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>
                        <TextWidget
                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                            HorizontalAlignment="Left" VerticalAlignment="Center"
                            PositionXOffset="120"
                            Brush="Kingdom.NameTitle.Text"
                            Text="@CultureName"
                            TextAlignment="Left" />
                    </Children>
                </ButtonWidget>

                <!--Clan Banner Banner-->
                <ButtonWidget
                    DoNotPassEventsToChildren="true"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                    SuggestedHeight="180"
                    HorizontalAlignment="Right" VerticalAlignment="Top"
                    PositionXOffset="-20" PositionYOffset="-8"
                    Command.Click="ExecuteOpenPlayerMode"
                    UpdateChildrenStates="true"
                    GamepadNavigationIndex="0">
                    <Children>
                        <MaskedTextureWidget
                            DataSource="{ClanBanner}"
                            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                            SuggestedWidth="105" SuggestedHeight="126"
                            HorizontalAlignment="Right" VerticalAlignment="Center"
                            Brush="Clan.TornBanner"
                            AdditionalArgs="@AdditionalArgs" ImageId="@Id" ImageTypeCode="@ImageTypeCode"/>
                        <HintWidget
                            DataSource="{ClanTroopsHint}"
                            Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"
                            IsDisabled="true" />
                        <TextWidget
                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                            HorizontalAlignment="Right" VerticalAlignment="Center"
                            PositionXOffset="-120"
                            Brush="Kingdom.NameTitle.Text"
                            Text="@ClanTroopsButtonText"
                            TextAlignment="Right" />
                    </Children>
                </ButtonWidget>

                <!--Clan Name Top Panel-->
                <Widget
                    DataSource="{Editor}"
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="887" SuggestedHeight="150"
                    HorizontalAlignment="Center" VerticalAlignment="Top"
                    Sprite="StdAssets\tabbar_long">
                    <Children>
                        <!--Clan Name Container-->
                        <Widget
                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                            HorizontalAlignment="Center" VerticalAlignment="Top"
                            MarginTop="10">
                            <Children>
                                <Widget
                                    DoNotPassEventsToChildren="true"
                                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                                    SuggestedWidth="440" SuggestedHeight="47"
                                    Brush="Kingdom.Name.Edit.Button"
                                    UpdateChildrenStates="true"
                                    GamepadNavigationIndex="2">
                                    <Children>
                                        <!--Clan Name-->
                                        <ListPanel
                                            WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
                                            StackLayout.LayoutMethod="HorizontalLeftToRight"
                                            HorizontalAlignment="Center"
                                            UpdateChildrenStates="true">
                                            <Children>
                                                <TextWidget
                                                    Brush.FontColor="#cfc1a1ff"
                                                    WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
                                                    Brush.FontSize="60" Text="@TroopStudioTitle"/>
                                            </Children>
                                        </ListPanel>
                                    </Children>
                                </Widget>
                            </Children>
                        </Widget>
                    </Children>
                </Widget>

                {{ button.text(
                    data_source="{Editor}",
                    text="Import All",
                    command="ExecuteImportAll",
                    vertical_alignment="Bottom",
                    brush="ButtonBrush1",
                    margin_right="540", margin_bottom="8"
                ) }}

                {{ button.text(
                    data_source="{Editor}",
                    text="Export All",
                    command="ExecuteExportAll",
                    vertical_alignment="Bottom",
                    brush="ButtonBrush2",
                    margin_bottom="8"
                ) }}

                {{ button.text(
                    data_source="{Editor}",
                    text="Reset All",
                    command="ExecuteResetAll",
                    vertical_alignment="Bottom",
                    brush="Popup.Delete.Button",
                    margin_left="540", margin_bottom="8"
                ) }}
            </Children>
        </Widget>
    </Children>
</Widget>