<Widget
    DataSource="{Editor}"
    IsVisible="@IsVisible"
    WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent">
    <Children>

        {# Tableau #}
        {% include "_/tableau/base.j2" %}

        {# List panel #}
        {% include "_/list/base.j2" %}

        {# Main panel #}
        {% include "_/panel/base.j2" %}

    </Children>
</Widget>
