<ButtonWidget
    IsEnabled="true"
    IsSelected="@ShowEditorPanel"
    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
    SuggestedWidth="240" SuggestedHeight="!Header.Tab.Center.Height.Scaled"
    DoNotPassEventsToChildren="true"
    UpdateChildrenStates="true"
    Brush="Header.Tab.Center"
    PositionYOffset="6"
    MarginRight="2"
    Command.Click="ExecuteSelectEditorTab">
    <Children>
        <TextWidget
            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
            MarginTop="3"   
            HorizontalAlignment="Center" VerticalAlignment="Center"
            Brush="Clan.TabControl.Text"
            Text="@EditorTabLabel"/>
    </Children>
</ButtonWidget>
