{# ------------------------------------------ #}
{# Equipment slots                            #}
{# ------------------------------------------ #}
{% include "_/panel/equipment/equipment.slots.j2" %}
