{% from "_/macros.icons.j2" import icon_sprite %}

{# ---------------------------------------------- #}
{# Equipment slots                                #}
{# ---------------------------------------------- #}

{# Slot row #}
{% macro slot(data_source) %}
    <ListPanel
        DataSource="{{ data_source }}"
        WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
        HorizontalAlignment="Left"
        StackLayout.LayoutMethod="HorizontalLeftToRight"
        MarginTop="4" MarginRight="54">
        <Children>

            {# ------------------------------------------ #}
            {# Slot select button                         #}
            {# ------------------------------------------ #}

            <ButtonWidget
                IsEnabled="@IsEnabled"
                IsSelected="@IsSelected"
                WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                SuggestedWidth="160" SuggestedHeight="52"
                HorizontalAlignment="Center" VerticalAlignment="Center"
                Brush="ButtonBrush2"
                Command.Click="ExecuteSelect"
                MarginRight="24"
                UpdateChildrenStates="true"
                DoNotPassEventsToChildren="true">
                <Children>

                    <TextWidget
                        WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                        HorizontalAlignment="Center" VerticalAlignment="Center"
                        Brush="Popup.Button.Text"
                        Text="@Label" />

                </Children>
            </ButtonWidget>

            {# ------------------------------------------ #}
            {# Item image box                             #}
            {# ------------------------------------------ #}

            <Widget
                WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                SuggestedWidth="88" SuggestedHeight="52"
                VerticalAlignment="Center"
                MarginRight="24" MarginTop="10"
                DoNotAcceptEvents="true"
                UpdateChildrenStates="true">
                <Children>

                    {# Actual image frame stays in top-left #}
                    <Widget
                        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                        SuggestedWidth="72" SuggestedHeight="36"
                        HorizontalAlignment="Left" VerticalAlignment="Top"
                        DoNotAcceptEvents="false"
                        UpdateChildrenStates="true">
                        <Children>

                            <BrushWidget
                                WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                                Brush="Frame1Brush" />

                            <ImageIdentifierWidget
                                WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                                SuggestedWidth="72" SuggestedHeight="36"
                                HorizontalAlignment="Center" VerticalAlignment="Center"
                                ImageId="@ImageId"
                            {% if version == "13" %}
                                TextureProviderName="@ImageTextureProviderName"
                            {% else %}
                                ImageTypeCode="@ImageTypeCode"
                            {% endif %}
                                AdditionalArgs="@ImageAdditionalArgs">
                                <Children>

                                    <HintWidget
                                        DataSource="{Tooltip}"
                                        Command.HoverBegin="ExecuteBeginHint"
                                        Command.HoverEnd="ExecuteEndHint" />

                                </Children>
                            </ImageIdentifierWidget>

                        </Children>
                    </Widget>

                    {# Unequip button overlaps bottom-right within parent #}
                    <ButtonWidget
                        DataSource="{UnequipButton}"
                        IsVisible="@IsVisible"
                        IsEnabled="@IsEnabled"
                        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                        SuggestedWidth="30" SuggestedHeight="30"
                        HorizontalAlignment="Right" VerticalAlignment="Bottom"
                        Brush="Popup.CloseButton"
                        Command.Click="Execute"
                        DoNotPassEventsToChildren="true"
                        UpdateChildrenStates="true">
                        <Children>

                            <HintWidget
                                DataSource="{Tooltip}"
                                Command.HoverBegin="ExecuteBeginHint"
                                Command.HoverEnd="ExecuteEndHint" />

                        </Children>
                    </ButtonWidget>

                </Children>
            </Widget>

            {# ------------------------------------------ #}
            {# Item label                                 #}
            {# ------------------------------------------ #}

            {{ icon_sprite(
                "{StagingIcon}",
                "CharacterDeveloper\skill_description",
                size="@Size",
                margin_right="12"
            ) }}

            <TextWidget
                Text="@ItemText"
                Brush="Clan.RightPanel.Name.Text"
                Brush.FontSize="24"
                Brush.FontColor="@ItemTextColor"
                WidthSizePolicy="Fixed" HeightSizePolicy="CoverChildren"
                SuggestedWidth="@TextWidth"
                HorizontalAlignment="Left" VerticalAlignment="Center" />

        </Children>
    </ListPanel>
{% endmacro %}

{# Divider between slot groups #}
{% macro divider() %}
    <Widget
        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
        SuggestedWidth="600" SuggestedHeight="4"
        Sprite="Clan\divider_mid"
        HorizontalAlignment="Left"
        MarginTop="16"
        MarginBottom="8" />
{% endmacro %}

{# ---------------------------------------------- #}
{# Main slots list                                #}
{# ---------------------------------------------- #}

<ListPanel
    DataSource="{EquipmentPanel}"
    IsVisible="@IsVisible"
    WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
    StackLayout.LayoutMethod="VerticalBottomToTop">
    <Children>

        <ListPanel
            WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
            HorizontalAlignment="Center"
            StackLayout.LayoutMethod="VerticalBottomToTop"
            UpdateChildrenStates="true"
            MarginBottom="24" MarginLeft="160">
            <Children>

                {# -------------------------------------- #}
                {# Weapons                                #}
                {# -------------------------------------- #}
                {{ slot("{Weapon0Slot}") }}
                {{ slot("{Weapon1Slot}") }}
                {{ slot("{Weapon2Slot}") }}
                {{ slot("{Weapon3Slot}") }}

                {{ divider() }}

                {# -------------------------------------- #}
                {# Armor                                  #}
                {# -------------------------------------- #}
                {{ slot("{HeadSlot}") }}
                {{ slot("{CapeSlot}") }}
                {{ slot("{BodySlot}") }}
                {{ slot("{GlovesSlot}") }}
                {{ slot("{LegSlot}") }}

                {{ divider() }}

                {# -------------------------------------- #}
                {# Mount                                  #}
                {# -------------------------------------- #}
                {{ slot("{HorseSlot}") }}
                {{ slot("{HorseHarnessSlot}") }}

            </Children>
        </ListPanel>

    </Children>
</ListPanel>
