{# ------------------------------------------ #}
{# Equipment slots                            #}
{# ------------------------------------------ #}
{% include "_/panel/equipment/equipment.slots.j2" %}

{# ------------------------------------------ #}
{# Equipment info                            #}
{# ------------------------------------------ #}
{% include "_/panel/equipment/equipment.info.j2" %}
