<?xml version="1.0" encoding="utf-8"?>
<Brushes>

    <!-- ============================================== -->
    <!-- Editor arrows                                  -->
    <!-- ============================================== -->

    <Brush Name="Editor.Arrow.Down">
        <Layers>
            <BrushLayer Name="Default" Sprite="StdAssets\expanded" />
        </Layers>

        <Styles>
            <Style Name="Default">
                <BrushLayer Name="Default" Color="#FFFFFFFF" />
            </Style>
            <Style Name="Hovered">
                <BrushLayer Name="Default" Color="#d8d0abff" />
            </Style>
            <Style Name="Pressed">
                <BrushLayer Name="Default" Color="#dfca84ff" />
            </Style>
            <Style Name="Disabled">
                <BrushLayer Name="Default" Color="#444444ff" />
            </Style>
        </Styles>
    </Brush>

    <Brush Name="Editor.Arrow.Up">
        <Layers>
            <BrushLayer Name="Default" Sprite="StdAssets\expanded" VerticalFlip="true" />
        </Layers>

        <Styles>
            <Style Name="Default">
                <BrushLayer Name="Default" Color="#FFFFFFFF" VerticalFlip="true" />
            </Style>
            <Style Name="Hovered">
                <BrushLayer Name="Default" Color="#d8d0abff" VerticalFlip="true" />
            </Style>
            <Style Name="Pressed">
                <BrushLayer Name="Default" Color="#dfca84ff" VerticalFlip="true" />
            </Style>
            <Style Name="Disabled">
                <BrushLayer Name="Default" Color="#444444ff" VerticalFlip="true" />
            </Style>
        </Styles>
    </Brush>

    <!-- ============================================== -->
    <!-- Reset skills (toggle-switch sprite)            -->
    <!-- ============================================== -->

    <Brush Name="Retinues.ResetSkills">
        <Layers>
            <BrushLayer Name="Default" Sprite="StdAssets\switch_default" IsHidden="true" />
            <BrushLayer Name="Hovered" Sprite="StdAssets\switch_hovered" IsHidden="true" />
            <BrushLayer Name="Pressed" Sprite="StdAssets\switch_pressed" IsHidden="true" />
        </Layers>

        <Styles>
            <Style Name="Default">
                <BrushLayer Name="Default" ColorFactor="1" IsHidden="false" />
            </Style>
            <Style Name="Hovered">
                <BrushLayer Name="Hovered" ColorFactor="1" IsHidden="false" />
            </Style>
            <Style Name="Pressed">
                <BrushLayer Name="Pressed" ColorFactor="1" IsHidden="false" />
            </Style>
            <Style Name="Disabled">
                <BrushLayer Name="Pressed" ColorFactor="0" IsHidden="false" />
            </Style>
        </Styles>
    </Brush>

</Brushes>
