<?xml version="1.0" encoding="utf-8"?>
<Brushes>
    <Brush Name="Editor.Arrow.Down">
        <Layers>
            <BrushLayer Name="Default" Sprite="StdAssets\expanded" />
        </Layers>
        <Styles>
            <Style Name="Default"><BrushLayer Name="Default" Color="#FFFFFFFF" /></Style>
            <Style Name="Hovered"><BrushLayer Name="Default" Color="#d8d0abff" /></Style>
            <Style Name="Pressed"><BrushLayer Name="Default" Color="#dfca84ff" /></Style>
            <Style Name="Disabled"><BrushLayer Name="Default" Color="#444444ff" /></Style>
        </Styles>
    </Brush>
    <Brush Name="Editor.Arrow.Up">
        <Layers>
            <BrushLayer Name="Default" Sprite="StdAssets\expanded" VerticalFlip="true" />
        </Layers>
        <Styles>
            <Style Name="Default"><BrushLayer Name="Default" Color="#FFFFFFFF" VerticalFlip="true" /></Style>
            <Style Name="Hovered"><BrushLayer Name="Default" Color="#d8d0abff" VerticalFlip="true" /></Style>
            <Style Name="Pressed"><BrushLayer Name="Default" Color="#dfca84ff" VerticalFlip="true" /></Style>
            <Style Name="Disabled"><BrushLayer Name="Default" Color="#444444ff" VerticalFlip="true" /></Style>
        </Styles>
    </Brush>
</Brushes>
