<?xml version="1.0" encoding="utf-8"?>
<Brushes>

  <Brush Name="MapBar.Left.Button.Backgrounds">
    <Layers>
      <BrushLayer Name="escape_menu" Sprite="MapBar\bottom_left_button1_exit" />
      <BrushLayer Name="character_developer" Sprite="MapBar\bottom_left_button2_character" />
      <BrushLayer Name="inventory" Sprite="MapBar\bottom_left_button3_inventory" />
      <BrushLayer Name="party" Sprite="MapBar\bottom_left_button4_party" />
      <BrushLayer Name="quest" Sprite="MapBar\bottom_left_button5_quest" />
      <BrushLayer Name="clan" Sprite="MapBar\bottom_left_button6_clan" />
      <BrushLayer Name="manage_fleet" Sprite="MapBar\bottom_left_button4_party" />
      <BrushLayer Name="kingdom" Sprite="MapBar\bottom_left_button7_kingdom" />

      <!-- new -->
      <BrushLayer Name="troops" Sprite="MapBar\bottom_left_button2_character" />
    </Layers>
  </Brush>

  <Brush Name="MapBar.Left.Icons">
    <Layers>
      <BrushLayer Name="escape_menu" Sprite="MapBar\mapbar_icon1" />
      <BrushLayer Name="character_developer" Sprite="MapBar\mapbar_icon2" />
      <BrushLayer Name="inventory" Sprite="MapBar\mapbar_icon3" />
      <BrushLayer Name="party" Sprite="MapBar\mapbar_icon4" />
      <BrushLayer Name="quest" Sprite="MapBar\mapbar_icon5" />
      <BrushLayer Name="clan" Sprite="MapBar\mapbar_icon7" />
      <BrushLayer Name="manage_fleet" Sprite="Map\ship" />
      <BrushLayer Name="kingdom" Sprite="MapBar\mapbar_icon6" XOffset="-13" />

      <!-- new -->
      <BrushLayer Name="troops" Sprite="MapBar\mapbar_icon2" HorizontalFlip="true" />
    </Layers>
  </Brush>

</Brushes>
