{# ---------------------------------------------- #}
{# Settings panel                                 #}
{# ---------------------------------------------- #}

{% from "_/macros.panel.j2" import divider %}
{% from "_/macros.buttons.j2" import button_text %}

<ListPanel
    IsVisible="@OnSettingsPage"
    WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
    HorizontalAlignment="Center" VerticalAlignment="Top"
    StackLayout.LayoutMethod="HorizontalLeftToRight"
    MarginBottom="16">
    <Children>

        {# ------------------------------------------ #}
        {# Section quick-nav (top buttons)            #}
        {# ------------------------------------------ #}

        <Widget
            WidthSizePolicy="Fixed"
            HeightSizePolicy="CoverChildren"
            SuggestedWidth="300"
            HorizontalAlignment="Center"
            VerticalAlignment="Center">
            <Children>
                <ListPanel
                    DataSource="{Sections}"
                    WidthSizePolicy="CoverChildren"
                    HeightSizePolicy="CoverChildren"
                    StackLayout.LayoutMethod="VerticalBottomToTop"
                    HorizontalAlignment="Center"
                    VerticalAlignment="Center">
                    <ItemTemplate>
                        <ButtonWidget
                            IsVisible="@ShowInQuickNav"
                            IsEnabled="true"
                            DoNotPassEventsToChildren="true"
                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                            HorizontalAlignment="Center" VerticalAlignment="Center"
                            IsSelected="@IsScrollTarget"
                            Command.Click="ExecuteScrollToSection"
                            MarginBottom="24"
                            UpdateChildrenStates="true">
                            <Children>
                                <TextWidget
                                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                    HorizontalAlignment="Center" VerticalAlignment="Center"
                                    Brush="Kingdom.NameTitle.Text"
                                    Brush.FontSize="24"
                                    Brush.FontColor="#ac8856ff"
                                    Text="@Name"
                                    MarginLeft="10"
                                    MarginRight="10"
                                    TextAlignment="Center" />
                            </Children>
                        </ButtonWidget>
                    </ItemTemplate>
                </ListPanel>
            </Children>
        </Widget>

        <ListPanel
            WidthSizePolicy="CoverChildren"
            HeightSizePolicy="StretchToParent"
            HorizontalAlignment="Center"
            VerticalAlignment="Bottom"
            StackLayout.LayoutMethod="HorizontalLeftToRight">
            <Children>

                <Widget
                    WidthSizePolicy="Fixed"
                    SuggestedWidth="1000"
                    HeightSizePolicy="StretchToParent"
                    HorizontalAlignment="Center"
                    VerticalAlignment="Bottom">
                    <Children>

                <BrushListPanel
                    Brush="Frame1Brush"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    VerticalAlignment="Bottom"
                    StackLayout.LayoutMethod="VerticalBottomToTop">
                    <Children>

                        <ListPanel
                            WidthSizePolicy="StretchToParent"
                            HeightSizePolicy="StretchToParent">
                            <Children>
                                <ScrollablePanel
                                    Id="SettingsScrollablePanel"
                                    WidthSizePolicy="StretchToParent"
                                    HeightSizePolicy="StretchToParent"
                                    MinWidth="!Clan.Management.Collapser.Width"
                                    AutoHideScrollBars="true"
                                    ClipRect="SettingsRect"
                                    InnerPanel="SettingsRect\SettingsListPanel"
                                    MouseScrollAxis="Vertical"
                                    MarginLeft="3"
                                    MarginBottom="3"
                                    VerticalScrollbar="..\SettingsScrollbar\Scrollbar">
                                    <Children>

                                <NavigationScopeTargeter
                                    ScopeID="SettingsScope"
                                    ScopeParent=".\SettingsRect"
                                    ScopeMovements="Vertical"
                                    IsDefaultNavigationScope="true"
                                    DoNotAutoNavigateAfterSort="true" />

                                <Widget
                                    Id="SettingsRect"
                                    WidthSizePolicy="CoverChildren"
                                    HeightSizePolicy="StretchToParent"
                                    ClipContents="true">
                                    <Children>

                                        <NavigatableListPanel
                                            Id="SettingsListPanel"
                                            DataSource="{Sections}"
                                            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                                            StackLayout.LayoutMethod="VerticalBottomToTop"
                                            UseSelfIndexForMinimum="true">
                                                <ItemTemplate>
                                                    <ListPanel
                                                        WidthSizePolicy="StretchToParent"
                                                        HeightSizePolicy="CoverChildren"
                                                        StackLayout.LayoutMethod="VerticalBottomToTop"
                                                        MarginTop="8">
                                                        <Children>

                                                            {# Auto-scroll anchor for this section #}
                                                            <AutoScrollButtonWidget
                                                                IsSelected="@IsScrollTarget"
                                                                IsEnabled="true"
                                                                IsVisible="true"
                                                                DoNotPassEventsToChildren="true"
                                                                WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                                                                SuggestedWidth="1"
                                                                SuggestedHeight="1"
                                                                UpdateChildrenStates="false"
                                                                AutoScrollEnabled="true"
                                                                AutoScrollVersion="@AutoScrollVersion"
                                                                AutoScrollScope="@AutoScrollScope"
                                                                AutoScrollTopOffset="10"
                                                                AutoScrollBottomOffset="10"
                                                                AutoScrollVerticalTarget="0"
                                                                AutoScrollInterpolationTime="0.25" />

                                                            {{ divider() }}

                                                            <TextWidget
                                                                Text="@Name"
                                                                WidthSizePolicy="CoverChildren"
                                                                HeightSizePolicy="CoverChildren"
                                                                HorizontalAlignment="Center"
                                                                VerticalAlignment="Center"
                                                                Brush="Clan.RightPanel.Name.Text"
                                                                Brush.FontSize="48"
                                                                Brush.FontColor="#eec485ff"
                                                                TextAlignment="Center"
                                                                MarginTop="8"
                                                                MarginBottom="8" />

                                                            <TextWidget
                                                                IsVisible="@HasDescription"
                                                                Text="@Description"
                                                                WidthSizePolicy="CoverChildren"
                                                                HeightSizePolicy="CoverChildren"
                                                                HorizontalAlignment="Center"
                                                                VerticalAlignment="Center"
                                                                Brush="InventoryGoldFontBrush"
                                                                Brush.FontColor="#f7ecddff"
                                                                Brush.FontSize="22"
                                                                TextAlignment="Center"
                                                                MaxWidth="1100"
                                                                MarginBottom="12" />

                                                            {{ divider() }}

                                                            <ListPanel
                                                                DataSource="{Options}"
                                                                WidthSizePolicy="StretchToParent"
                                                                HeightSizePolicy="CoverChildren"
                                                                MarginTop="4"
                                                                StackLayout.LayoutMethod="VerticalBottomToTop">
                                                                <ItemTemplate>

                                                                    <Widget
                                                                        IsVisible="@IsVisible"
                                                                        WidthSizePolicy="StretchToParent"
                                                                        HeightSizePolicy="CoverChildren"
                                                                        MarginTop="8"
                                                                        MarginBottom="8"
                                                                        UpdateChildrenStates="true">
                                                                        <Children>

                                                                            <ListPanel
                                                                                WidthSizePolicy="StretchToParent"
                                                                                HeightSizePolicy="CoverChildren"
                                                                                StackLayout.LayoutMethod="VerticalBottomToTop"
                                                                                VerticalAlignment="Top"
                                                                                MarginLeft="8"
                                                                                MarginRight="8"
                                                                                UpdateChildrenStates="true">
                                                                                <Children>

                                                                                    {# Line 1: Option name (centered) #}
                                                                                    <TextWidget
                                                                                        Text="@Name"
                                                                                        WidthSizePolicy="CoverChildren"
                                                                                        HeightSizePolicy="CoverChildren"
                                                                                        HorizontalAlignment="Center"
                                                                                        VerticalAlignment="Center"
                                                                                        MaxWidth="1100"
                                                                                        Brush="Clan.RightPanel.Name.Text"
                                                                                        Brush.FontSize="28"
                                                                                        TextAlignment="Center"
                                                                                        MarginBottom="6" />

                                                                                    {# Line 2: Option control (centered) #}
                                                                                    <Widget
                                                                                        WidthSizePolicy="StretchToParent"
                                                                                        HeightSizePolicy="CoverChildren"
                                                                                        HorizontalAlignment="Center"
                                                                                        VerticalAlignment="Center"
                                                                                        UpdateChildrenStates="true"
                                                                                        MarginBottom="6">
                                                                                        <Children>
                                                                                            <Widget
                                                                                                WidthSizePolicy="CoverChildren"
                                                                                                HeightSizePolicy="CoverChildren"
                                                                                                HorizontalAlignment="Center"
                                                                                                VerticalAlignment="Center"
                                                                                                UpdateChildrenStates="true">
                                                                                                <Children>
                                                                                                    {% include "_/panel/settings/setting.bool.j2" %}
                                                                                                    {% include "_/panel/settings/setting.int-slider.j2" %}
                                                                                                    {% include "_/panel/settings/setting.float-slider.j2" %}
                                                                                                    {% include "_/panel/settings/setting.enum.j2" %}
                                                                                                </Children>
                                                                                            </Widget>
                                                                                        </Children>
                                                                                    </Widget>

                                                                                    {# Line 3: Option description (centered) #}
                                                                                    <Widget
                                                                                        IsVisible="@HasDescription"
                                                                                        WidthSizePolicy="StretchToParent"
                                                                                        HeightSizePolicy="CoverChildren"
                                                                                        HorizontalAlignment="Center"
                                                                                        VerticalAlignment="Top">
                                                                                        <Children>
                                                                                            <ListPanel
                                                                                                DataSource="{DescriptionLines}"
                                                                                                WidthSizePolicy="StretchToParent"
                                                                                                HeightSizePolicy="CoverChildren"
                                                                                                StackLayout.LayoutMethod="VerticalBottomToTop"
                                                                                                HorizontalAlignment="Center"
                                                                                                VerticalAlignment="Top">
                                                                                                <ItemTemplate>
                                                                                                    <TextWidget
                                                                                                        Text="@Text"
                                                                                                        WidthSizePolicy="CoverChildren"
                                                                                                        HeightSizePolicy="CoverChildren"
                                                                                                        HorizontalAlignment="Center"
                                                                                                        VerticalAlignment="Top"
                                                                                                        MaxWidth="1100"
                                                                                                        Brush="InventoryGoldFontBrush"
                                                                                                        Brush.FontColor="#f7ecddff"
                                                                                                        Brush.FontSize="24"
                                                                                                        TextAlignment="Center" />
                                                                                                </ItemTemplate>
                                                                                            </ListPanel>
                                                                                        </Children>
                                                                                    </Widget>

                                                                                </Children>
                                                                            </ListPanel>

                                                                        </Children>
                                                                    </Widget>

                                                                </ItemTemplate>
                                                            </ListPanel>
                                                        </Children>
                                                    </ListPanel>
                                                </ItemTemplate>

                                        </NavigatableListPanel>

                                    </Children>
                                </Widget>

                                    </Children>
                                </ScrollablePanel>

                                <Standard.VerticalScrollbar
                                    Id="SettingsScrollbar"
                                    HeightSizePolicy="StretchToParent"
                                    HorizontalAlignment="Right"
                                    VerticalAlignment="Bottom"
                                    MarginLeft="2"
                                    MarginRight="2"
                                    MarginBottom="3" />
                            </Children>
                        </ListPanel>
                    </Children>

                        </BrushListPanel>

                    </Children>
                </Widget>

                {# Purge button #}
                <ListPanel
                    WidthSizePolicy="Fixed"
                    SuggestedWidth="400"
                    HeightSizePolicy="StretchToParent"
                    HorizontalAlignment="Center"
                    VerticalAlignment="Bottom">
                    <Children>
                        <ListPanel
                            WidthSizePolicy="StretchToParent"
                            HeightSizePolicy="CoverChildren"
                            HorizontalAlignment="Center"
                            VerticalAlignment="Bottom"
                            StackLayout.LayoutMethod="VerticalBottomToTop">
                            <Children>
                                <TextWidget
                                    WidthSizePolicy="CoverChildren"
                                    HeightSizePolicy="CoverChildren"
                                    HorizontalAlignment="Center"
                                    VerticalAlignment="Center"
                                    Brush="Clan.RightPanel.Name.Text"
                                    Brush.FontSize="28"
                                    TextAlignment="Center"
                                    Text="@PurgeAllHeader"
                                    MarginBottom="12" />

                                {{ button_text("{PurgeAllButton}", "Popup.Delete.Button", "200", "60", horizontal_alignment="Center", vertical_alignment="Center") }}
                            </Children>
                        </ListPanel>
                    </Children>
                </ListPanel>

            </Children>
        </ListPanel>

    </Children>
</ListPanel>
