<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--      Traits Block     -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

{# Trait Macro #}
{% macro trait() -%}

<ListPanel
    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
    SuggestedWidth="80" SuggestedHeight="110"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Center"
    MarginRight="4" MarginLeft="4">
    <Children>
        {{ text.base(
            text="@Name",
            brush="Encyclopedia.Skill.Text",
            font_size="16"
        ) }}

        {{ image.sprite(
            sprite="@Sprite",
            width="60", height="60",
            color="@SpriteColor",
            hint="{Hint}"
        ) }}

        <!-- Controls -->
        <ListPanel
            WidthSizePolicy="StretchToParent" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center"
            UpdateChildrenStates="true">
            <Children>

                <!-- Decrement Trait -->
                {{ button.chevron_l(command="ExecuteDecrement", is_enabled="@CanDecrement") }}

                <!-- Trait Value -->
                {{ text.base(
                    text="@ValueText",
                    brush="Encyclopedia.Skill.Text",
                    width="32", height="24",
                    font_size="24"
                ) }}

                <!-- Increment Trait -->
                {{ button.chevron_r(command="ExecuteIncrement", is_enabled="@CanIncrement") }}

            </Children>
        </ListPanel>
    </Children>
</ListPanel>

{%- endmacro %}

<!-- Traits Header -->

{{ text.header(text="@TraitsHeaderText", is_visible="@IsHero") }}

<!-- Traits Grid -->

<ListPanel
    IsVisible="@IsHero"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    UpdateChildrenStates="true">
    <Children>
        <ListPanel
            DataSource="{Traits}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Center"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            UpdateChildrenStates="true">
            <ItemTemplate>
                {{ trait() }}
            </ItemTemplate>
        </ListPanel>
    </Children>
</ListPanel>
