<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--      Skills Block     -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

<!-- Skills Header -->
{{ text.header(text="@SkillsHeaderText") }}

<!-- Skills Summary -->
<ListPanel
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center"
    StackLayout.LayoutMethod="HorizontalLeftToRight"
    UpdateChildrenStates="true"
    IsVisible="@ShowSkillSummary">
    <Children>
        <!-- Points Used -->
        {{ text.base(text="@SkillPointsUsed", brush="Clan.RightPanel.Name.Text", is_int="true", margin_right="8") }}

        <!-- Separator -->
        {{ text.base(text="/", brush="Clan.RightPanel.Name.Text", margin_right="8") }}

        <!-- Points Total -->
        {{ text.base(text="@SkillPointsTotal", brush="Clan.RightPanel.Name.Text", is_int="true", margin_right="8") }}
    </Children>
</ListPanel>

<!-- XP, Cap and Tier -->
<ListPanel
    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
    SuggestedHeight="30"
    HorizontalAlignment="Center"
    StackLayout.LayoutMethod="HorizontalLeftToRight"
    UpdateChildrenStates="true"
    MarginBottom="10"
    IsVisible="@ShowSkillSummary">
    <Children>
        <!-- Value Displays -->
        {{ text.small(text="@TroopXpText", is_visible="@TroopXpIsEnabled") }}
        {{ text.small(text=" - ", is_visible="@TroopXpIsEnabled") }}
        {{ text.small(text="@SkillCapText") }}
        {{ text.small(text=" - ", is_visible="@IsRetinue") }}
        {{ text.small(text="@TierText", is_visible="@IsRetinue", margin_right="4") }}

        <!-- Rank Up Button -->
        {{ button.brush(
            command="ExecuteRankUp",
            brush="Inventory.Tuple.Extension.PlusButton",
            height="30", width="30",
            is_visible="@CanRankUp"
        )}}

        <!-- Formation Class Divider -->
        {{ text.small(text=" - ", is_visible="@AllowFormationOverrides") }}

        <!-- Formation Class Icon -->
        {{ image.sprite(
            sprite="@FormationClassIcon",
            width="24", height="24",
            margin_right="4",
            is_visible="@AllowFormationOverrides"
        ) }}

        <!-- Formation Class Text -->
        {{ text.small(text="@FormationClassText", margin_right="4", is_visible="@AllowFormationOverrides") }}

        <!-- Change Formation Class Button -->
        {{ button.brush(
            is_visible="@AllowFormationOverrides",
            command="ExecuteChangeFormationClass",
            brush="SPClan.Members.RecallIcon",
            height="32", width="32",
            hint="@FormationClassHint"
        ) }}
    </Children>
</ListPanel>

<!-- Training Time -->
<ListPanel
    IsVisible="@TrainingTakesTime"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
    SuggestedHeight="30"
    HorizontalAlignment="Center"
    StackLayout.LayoutMethod="HorizontalLeftToRight"
    UpdateChildrenStates="true"
    MarginBottom="10">
    <Children>
        <!-- Training Required Text -->
        {{ text.base(
            text="@TrainingRequiredText",
            brush="InventoryGoldFontBrush",
            font_color="@TrainingRequiredTextColor"
        ) }}
        
        <!-- Tooltip Icon -->
        {{ tooltip.icon(hint="{TrainingRequiredHint}", size="20") }}
    </Children>
</ListPanel>

<!-- Extra Toggles -->
<ListPanel
    IsVisible="@ShowExtrasSection"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
    SuggestedHeight="24"
    HorizontalAlignment="Center"
    StackLayout.LayoutMethod="HorizontalLeftToRight"
    UpdateChildrenStates="true"
    MarginBottom="10">
    <Children>
        <!-- Extra Skills Label -->
        {{ text.base(
            is_visible="@HasExtraSkills",
            text="@ShowExtraSkillsLabel",
            brush="InventoryGoldFontBrush",
            margin_right="8", margin_left="8",
            font_size="18"
        ) }}
        
        <!-- Extra Skills Checkbox -->
        {{ button.checkbox(
            is_visible="@HasExtraSkills",
            is_selected="@ShowExtraSkills",
            size="24"
        )}}

        <!-- Mariner Label -->
        {{ text.base(
            is_visible="@ShowMariner",
            text="@MarinerLabel",
            brush="InventoryGoldFontBrush",
            margin_right="8", margin_left="8",
            font_size="18"
        ) }}

        <!-- Mariner Checkbox -->
        {{ button.checkbox(
            command="ExecuteToggleMariner",
            is_visible="@ShowMariner",
            is_selected="@IsMariner",
            size="24"
        )}}
    </Children>
</ListPanel>

{# Skill Macro #}
{% macro skill() -%}

<Widget
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center">
    <Children>

        <!-- Large skill (non-hero) -->
        <ListPanel
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            SuggestedWidth="80" SuggestedHeight="110"
            StackLayout.LayoutMethod="VerticalBottomToTop"
            HorizontalAlignment="Center"
            MarginRight="20" MarginLeft="20" MarginBottom="20"
            IsHidden="@IsSmall">
            <Children>
                <!-- Visual Widget -->
                <SkillIconVisualWidget
                    SkillId="@SkillId"
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="80" SuggestedHeight="80"
                    DoNotPassEventsToChildren="false"
                    MarginBottom="6">
                    <Children>
                        {{ tooltip.hint(hint="{SkillHint}") }}
                    </Children>
                </SkillIconVisualWidget>

                <!-- Controls -->
                <ListPanel
                    WidthSizePolicy="StretchToParent" HeightSizePolicy="CoverChildren"
                    StackLayout.LayoutMethod="HorizontalLeftToRight"
                    HorizontalAlignment="Center"
                    UpdateChildrenStates="true">
                    <Children>

                        <!-- Decrement Skill -->
                        {{ button.chevron_l(
                            command="ExecuteDecrement",
                            is_enabled="@CanDecrement",
                            hint="{DecrementHint}"
                        ) }}

                        <!-- Skill Value -->
                        {{ text.base(
                            text="@Value",
                            is_int="true",
                            brush="Encyclopedia.Skill.Text",
                            width="32", height="24",
                            font_size="24",
                            font_color="@ValueColor",
                        ) }}

                        <!-- Increment Skill -->
                        {{ button.chevron_r(
                            command="ExecuteIncrement",
                            is_enabled="@CanIncrement",
                            hint="{IncrementHint}"
                        ) }}

                    </Children>
                </ListPanel>
            </Children>
        </ListPanel>

        <!-- Small skill (hero) -->
        <ListPanel
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            SuggestedWidth="80" SuggestedHeight="110"
            StackLayout.LayoutMethod="VerticalBottomToTop"
            HorizontalAlignment="Center"
            MarginRight="4" MarginLeft="4" MarginBottom="0"
            IsVisible="@IsSmall">
            <Children>
                <!-- Visual Widget -->
                <SkillIconVisualWidget
                    SkillId="@SkillId"
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="70" SuggestedHeight="70"
                    DoNotPassEventsToChildren="false"
                    MarginBottom="6">
                    <Children>
                        {{ tooltip.hint(hint="{SkillHint}") }}
                    </Children>
                </SkillIconVisualWidget>

                <!-- Controls -->
                <ListPanel
                    WidthSizePolicy="StretchToParent" HeightSizePolicy="CoverChildren"
                    StackLayout.LayoutMethod="HorizontalLeftToRight"
                    HorizontalAlignment="Center"
                    UpdateChildrenStates="true">
                    <Children>

                        <!-- Decrement Skill -->
                        {{ button.chevron_l(
                            command="ExecuteDecrement",
                            is_enabled="@CanDecrement",
                            hint="{DecrementHint}"
                        ) }}

                        <!-- Skill Value -->
                        {{ text.base(
                            text="@Value",
                            is_int="true",
                            brush="Encyclopedia.Skill.Text",
                            width="26", height="20",
                            font_size="20",
                            font_color="@ValueColor",
                        ) }}

                        <!-- Increment Skill -->
                        {{ button.chevron_r(
                            command="ExecuteIncrement",
                            is_enabled="@CanIncrement",
                            hint="{IncrementHint}"
                        ) }}

                    </Children>
                </ListPanel>
            </Children>
        </ListPanel>

    </Children>
</Widget>

{%- endmacro %}

<!-- Skills Grid -->
<ListPanel
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    UpdateChildrenStates="true">
    <Children>
        <ListPanel
            DataSource="{SkillsRow1}"
            HorizontalAlignment="Center"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            UpdateChildrenStates="true">
            <ItemTemplate>
                {{ skill() }}
            </ItemTemplate>
        </ListPanel>
        <ListPanel
            DataSource="{SkillsRow2}"
            HorizontalAlignment="Center"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            UpdateChildrenStates="true">
            <ItemTemplate>
                {{ skill() }}
            </ItemTemplate>
        </ListPanel>
        <ListPanel
            IsVisible="@IsHero"
            DataSource="{SkillsRow3}"
            HorizontalAlignment="Center"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            UpdateChildrenStates="true">
            <ItemTemplate>
                {{ skill() }}
            </ItemTemplate>
        </ListPanel>
        <ListPanel
            IsVisible="@IsHero"
            DataSource="{SkillsRow4}"
            HorizontalAlignment="Center"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            UpdateChildrenStates="true">
            <ItemTemplate>
                {{ skill() }}
            </ItemTemplate>
        </ListPanel>
    </Children>
</ListPanel>
