<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--     Upgrades Block    -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

<!-- Upgrades Header -->
{{ text.header(text="@UpgradesHeaderText", is_visible="@IsRegular") }}

<ListPanel
    MarginTop="12"
    DataSource="{UpgradeTargets}"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center"
    StackLayout.LayoutMethod="VerticalBottomToTop">
    <ItemTemplate>
        <ListPanel
            HorizontalAlignment="Center"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren">
            <Children>
                <!-- Formation Class Icon -->
                {{ image.sprite(sprite="@FormationClassIcon", width="28", height="28", margin_right="12") }}

                <!-- Upgrade Name -->
                {{ text.base(text="@Name", height="28", margin_right="8", margin_bottom="8") }}
            </Children>
        </ListPanel>
    </ItemTemplate>
</ListPanel>

<!-- Add Upgrade Button -->
{{ button.text(
    text="@AddUpgradeButtonText",
    command="ExecuteAddUpgrade",
    hint="{AddUpgradeHint}",
    brush="Popup.Done.Button",
    is_visible="@IsRegular",
    is_enabled="@CanAddUpgrade",
    vertical_alignment="Bottom"
)}}
