{# Button Helpers #}

{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}
{#     Base Button Macro    #}
{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}

{% macro base(
    command,
    data_source=None,
    is_visible="true",
    is_enabled="true",
    is_hidden=None,
    is_selected=None,
    brush="Popup.Button.Text",
    width="!CancelButton.Width", height="!CancelButton.Height",
    horizontal_alignment="Center", vertical_alignment="Center",
    margin_left="0", margin_right="0", margin_top="0", margin_bottom="0",
    hint=None
) -%}

<Widget
    HorizontalAlignment="{{ horizontal_alignment }}" VerticalAlignment="{{ vertical_alignment }}"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    {% if data_source %}DataSource="{{ data_source }}"{% endif %}
    {% if is_hidden %}IsHidden="{{ is_hidden }}"{% endif %}
    IsVisible="{{ is_visible }}">
    <Children>
        {% if hint %}
            <HintWidget
                DataSource="{{ hint }}"
                Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>
        {% endif %}

        <ButtonWidget
            IsVisible="{{ is_enabled }}"
            IsEnabled="true"
            {% if is_selected %} IsSelected="{{ is_selected }}"{% endif %}
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            SuggestedWidth="{{ width }}" SuggestedHeight="{{ height }}"
            MarginLeft="{{ margin_left }}" MarginRight="{{ margin_right }}"
            MarginTop="{{ margin_top }}" MarginBottom="{{ margin_bottom }}"
            Brush="{{ brush }}"
            Command.Click="{{ command }}"
            UpdateChildrenStates="true"
            DoNotPassEventsToChildren="true">
            <Children>
                {% if hint %}
                    <HintWidget
                        DataSource="{{ hint }}"
                        Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>
                {% endif %}
                {% if caller %}{{ caller() }}{% endif %}
            </Children>
        </ButtonWidget>

        <ButtonWidget
            IsHidden="{{ is_enabled }}"
            IsEnabled="false"
            {% if is_selected %} IsSelected="{{ is_selected }}"{% endif %}
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            SuggestedWidth="{{ width }}" SuggestedHeight="{{ height }}"
            MarginLeft="{{ margin_left }}" MarginRight="{{ margin_right }}"
            MarginTop="{{ margin_top }}" MarginBottom="{{ margin_bottom }}"
            Brush="{{ brush }}"
            Command.Click="{{ command }}"
            UpdateChildrenStates="true"
            DoNotPassEventsToChildren="true">
            <Children>
                {% if caller %}{{ caller() }}{% endif %}
            </Children>
        </ButtonWidget>
    </Children>
</Widget>

{%- endmacro %}


{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}
{#      Checkbox Macro      #}
{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}

{% macro checkbox(
    command,
    is_selected,
    size="30",
    is_visible="true",
    is_enabled="true",
    hint=None
) -%}

<ButtonWidget
    DoNotPassEventsToChildren="true"
    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
    SuggestedWidth="{{ size }}" SuggestedHeight="{{ size }}"
    HorizontalAlignment="Center" VerticalAlignment="Center"
    Brush="SPOptions.Checkbox.Empty.Button"
    ButtonType="Toggle"
    ToggleIndicator="ToggleIndicator"
    UpdateChildrenStates="true"
    IsSelected="{{ is_selected }}"
    IsEnabled="{{ is_enabled }}"
    Command.Click="{{ command }}">
    <Children>
        <ImageWidget
            Id="ToggleIndicator"
            WidthSizePolicy="StretchToParent"
            HeightSizePolicy="StretchToParent"
            Brush="SPOptions.Checkbox.Full.Button"
        />
        {% if hint %}
            <HintWidget
                DataSource="{FieldBattleHint}"
                Command.HoverBegin="ExecuteBeginHint"
                Command.HoverEnd="ExecuteEndHint"/>
        {% endif %}
    </Children>
</ButtonWidget>

{%- endmacro %}

{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}
{#     Text Button Macro    #}
{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}

{% macro text(
    text,
    command,
    brush,
    data_source=None,
    is_hidden=None,
    is_visible="true",
    is_enabled="true",
    is_selected=None,
    width="!CancelButton.Width", height="!CancelButton.Height",
    vertical_alignment="Center", horizontal_alignment="Center",
    margin_left="0", margin_right="0", margin_top="0", margin_bottom="0",
    hint=None
) -%}

{% call base(
    data_source=data_source,
    command=command,
    is_visible=is_visible,
    is_hidden=is_hidden,
    is_enabled=is_enabled,
    is_selected=is_selected,
    width=width, height=height,
    horizontal_alignment=horizontal_alignment, vertical_alignment=vertical_alignment,
    margin_left=margin_left, margin_right=margin_right, margin_top=margin_top, margin_bottom=margin_bottom,
    brush=brush,
    hint=hint
) %}
    <TextWidget
        WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
        Brush="Popup.Button.Text"
        VerticalAlignment="Center" HorizontalAlignment="Center"
        Text="{{ text }}"/>
{% endcall %}

{%- endmacro %}

{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}
{#    Sprite Button Macro   #}
{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}

{% macro sprite(
    command,
    sprite,
    color=None,
    data_source=None,
    is_visible="true",
    is_enabled="true",
    is_hidden=None,
    width="60", height="60",
    horizontal_alignment="Center", vertical_alignment="Center",
    margin_left="0", margin_right="0", margin_top="0", margin_bottom="0",
    hint=None,
    brush="Popup.Button.Text"
) -%}

{% call base(
    command=command,
    data_source=data_source,
    is_visible=is_visible,
    is_hidden=is_hidden,
    is_enabled=is_enabled,
    width=width, height=height,
    horizontal_alignment=horizontal_alignment, vertical_alignment=vertical_alignment,
    margin_left=margin_left, margin_right=margin_right, margin_top=margin_top, margin_bottom=margin_bottom,
    brush=brush,
    hint=hint,
) %}
    <SpriteWidget
        IsVisible="{{ is_visible }}"
        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
        SuggestedWidth="{{ width }}" SuggestedHeight="{{ height }}"
        {% if color %}Color="{{ color }}"{% endif %}
        Sprite="{{ sprite }}"/>
{% endcall %}

{%- endmacro %}

{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}
{#    Brush Button Macro    #}
{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}

{% macro brush(
    command,
    brush,
    data_source=None,
    is_visible="true",
    is_enabled="true",
    is_hidden=None,
    width="60", height="60",
    horizontal_alignment="Center", vertical_alignment="Center",
    margin_left="0", margin_right="0", margin_top="0", margin_bottom="0",
    hint=None
) -%}

{% call base(
    command=command,
    data_source=data_source,
    is_visible=is_visible,
    is_hidden=is_hidden,
    is_enabled=is_enabled,
    width=width, height=height,
    horizontal_alignment=horizontal_alignment, vertical_alignment=vertical_alignment,
    margin_left=margin_left, margin_right=margin_right, margin_top=margin_top, margin_bottom=margin_bottom,
    hint=hint
) %}
    <BrushWidget
        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
        SuggestedWidth="{{ width }}" SuggestedHeight="{{ height }}"
        Brush="{{ brush }}"/>
{% endcall %}

{%- endmacro %}

{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}
{#   Convenience Wrappers   #}
{# ━━━━━━━━━━━━━━━━━━━━━━━━ #}

{# Left Chevron #}
{% macro chevron_l(command, is_visible="true", is_enabled="true", size="24", hint=None) -%}

{{ brush(
    command=command,
    is_visible=is_visible,
    is_enabled=is_enabled,
    brush='ButtonRightBigArrowBrush1',
    width=size, height=size,
    hint=hint
) }}

{%- endmacro %}

{# Right Chevron #}
{% macro chevron_r(command, is_visible="true", is_enabled="true", size="24", hint=None) -%}

{{ brush(
    command=command,
    is_visible=is_visible,
    is_enabled=is_enabled,
    brush='ButtonLeftBigArrowBrush1',
    width=size, height=size,
    hint=hint
) }}

{%- endmacro %}
