<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--     Doctrine Card     -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

<ListPanel
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop">
    <Children>

        <!-- Popup Button -->
        {{ button.text(
            text="@ButtonText",
            height="120", width="340",
            command="ExecuteShowPopup",
            brush="@ButtonBrush",
            is_enabled="@IsEnabled"
        )}}


        <!-- Description -->
        <ListPanel
            DataSource="{DescriptionLines}"
            StackLayout.LayoutMethod="VerticalBottomToTop" HorizontalAlignment="Center"
            WidthSizePolicy="Fixed" HeightSizePolicy="CoverChildren" SuggestedWidth="400">
            <ItemTemplate>
                {{ text.base(
                    text="@Text",
                    font_size="20",
                ) }}
            </ItemTemplate>
        </ListPanel>

        <!-- Cost Row -->
        <ListPanel
            IsVisible="@ShowCostRow"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            VerticalAlignment="Center" HorizontalAlignment="Center"
            StackLayout.LayoutMethod="HorizontalLeftToRight">
            <Children>
                <!-- Influence Cost -->
                {{ text.base(
                    text="@InfluenceCost",
                    is_visible="@ShowInfluenceCost",
                    brush="InventoryGoldFontBrush",
                    is_int=True
                ) }}
                
                <!-- Influence Icon -->
                {{ image.sprite(
                    is_visible="@ShowInfluenceCost",
                    sprite="General\Icons\Influence@2x",
                    width="30", height="30"
                ) }}

                <!-- Gold Cost -->
                {{ text.base(
                    text="@GoldCost",
                    is_visible="@ShowGoldCost",
                    brush="InventoryGoldFontBrush",
                    is_int=True
                ) }}
                
                <!-- Gold Icon -->
                {{ image.sprite(
                    sprite="General\Icons\Coin@2x",
                    is_visible="@ShowGoldCost",
                    width="30", height="30"
                ) }}
            </Children>
        </ListPanel>
    </Children>
</ListPanel>
