

{% macro chevron(command, brush, enabled) %}

<ButtonWidget
    IsEnabled="{{ enabled }}"
    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
    HorizontalAlignment="Center" VerticalAlignment="Center"
    SuggestedWidth="24" SuggestedHeight="24"
    Brush="Popup.Button.Text"
    Command.Click="{{ command }}" UpdateChildrenStates="true" DoNotPassEventsToChildren="true">
    <Children>
        <BrushWidget WidthSizePolicy="Fixed"
            HeightSizePolicy="Fixed"
            SuggestedWidth="24" SuggestedHeight="24"
            Brush="{{ brush }}"/>
    </Children>
</ButtonWidget>

{%- endmacro %}

{% macro icon_button(command, brush, enabled, tooltip) %}

<Widget
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    HorizontalAlignment="Center" VerticalAlignment="Center">
    <Children>
        <HintWidget
            DataSource="{{ tooltip }}"
            Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>
        <ButtonWidget
            IsEnabled="{{ enabled }}"
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            SuggestedWidth="36" SuggestedHeight="36"
            Brush="{{ brush }}"
            Command.Click="{{ command }}" UpdateChildrenStates="true" DoNotPassEventsToChildren="true">
            <Children>
                <HintWidget
                    DataSource="{{ tooltip }}"
                    Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>
            </Children>
        </ButtonWidget>
    </Children>
</Widget>

{%- endmacro %}

<ListPanel
    DataSource="{EquipmentControls}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Center" VerticalAlignment="Top">
    <Children>

        <ButtonWidget
            WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
            HorizontalAlignment="Center" VerticalAlignment="Center"
            SuggestedWidth="200" SuggestedHeight="60"
            Brush="ButtonBrush3"
            Command.Click="ExecuteToggleShowCivilian"
            UpdateChildrenStates="true" DoNotPassEventsToChildren="true">
            <Children>
                <TextWidget
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    Brush="Popup.Button.Text"
                    VerticalAlignment="Center" HorizontalAlignment="Center"
                    Text="@ToggleShowCivilianButtonText"/>
            </Children>
        </ButtonWidget>

        <ListPanel
            IsVisible="@ShowSetActionButtons"
            MarginTop="4"
            WidthSizePolicy="CoverChildren"
            HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <Children>

                {{ icon_button("ExecuteDeleteSet", "Inventory.Tuple.Extension.MinusButton", "@CanDeleteSet", "{DeleteSetTooltip}") }}

                {{ chevron("ExecutePrevSet", "ButtonRightBigArrowBrush1", "@CanSelectPrevSet") }}

                <TextWidget
                    Text="@EquipmentLabel"
                    Brush="Clan.Tuple.Name.Text"
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                    MarginLeft="8" MarginRight="8"
                    HorizontalAlignment="Center" VerticalAlignment="Center" />

                {{ chevron("ExecuteNextSet", "ButtonLeftBigArrowBrush1", "@CanSelectNextSet") }}

                {{ icon_button("ExecuteCreateSet", "Inventory.Tuple.Extension.PlusButton", "@CanCreateSet", "{CreateSetTooltip}") }}

            </Children>
        </ListPanel>

    </Children>
</ListPanel>
