<!-- ━━━━━━━━━━━━━━━━━━━━━ -->
<!--   Equipment Top Bar   -->
<!-- ━━━━━━━━━━━━━━━━━━━━━ -->

<!-- Show Crafted -->
<ListPanel
    DataSource="{EquipmentScreen}"
    IsVisible="@ShowCraftedIsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
    SuggestedHeight="32"
    MarginTop="15" MarginLeft="60"
    HorizontalAlignment="Left">
    <Children>

        <!-- Crafted Icon -->
        {{ image.sprite(
            sprite="General\Mission\smithy",
            color="#f1d7a5ff",
            width="24", height="24",
        ) }}

        <!-- Crafted Checkbox -->
        {{ button.checkbox(
            command="ExecuteToggleShowCrafted",
            is_selected="@ShowCrafted",
            size="24",
            is_enabled="@CanShowCrafted",
            hint="{ShowCraftedHint}"
        )}}

    </Children>
</ListPanel>

<ListPanel
    DataSource="{EquipmentScreen}"
    IsVisible="@IsVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalBottomToTop"
    HorizontalAlignment="Center" VerticalAlignment="Top">
    <Children>

        <!-- Unequip All Button -->
        {{ button.text(
            text="@UnequipAllButtonText",
            command="ExecuteUnequipAll",
            is_hidden="@CanUnstage",
            is_enabled="@CanUnequip",
            brush="Popup.Delete.Button",
        ) }}

        <!-- Unstage All Button -->
        {{ button.text(
            text="@UnstageAllButtonText",
            command="ExecuteUnstageAll",
            is_visible="@CanUnstage",
            brush="Popup.Delete.Button",
        ) }}

        <!-- Prev / Next Set -->
        <ListPanel
            WidthSizePolicy="CoverChildren"
            HeightSizePolicy="CoverChildren"
            StackLayout.LayoutMethod="HorizontalLeftToRight"
            HorizontalAlignment="Center">
            <Children>

                <!-- Remove Set Button -->
                {{ button.brush(
                    is_visible="@ShowSetControls",
                    command="ExecuteRemoveSet",
                    brush="Inventory.Tuple.Extension.MinusButton",
                    height="36", width="36",
                    is_enabled="@CanRemoveSet",
                    hint="{RemoveSetHint}"
                ) }}
                {{ button.chevron_l("ExecutePrevSet", size="36", is_enabled="@CanSelectPrevSet") }}
                {{ text.base(text="@EquipmentName", margin_left="16", margin_right="16") }}
                {{ button.chevron_r("ExecuteNextSet", size="36", is_enabled="@CanSelectNextSet") }}

                <!-- Create Set Button -->
                {{ button.brush(
                    is_visible="@ShowSetControls",
                    command="ExecuteCreateSet",
                    brush="Inventory.Tuple.Extension.PlusButton",
                    height="36", width="36",
                    is_enabled="@CanCreateSet",
                    hint="{CreateSetHint}"
                ) }}

            </Children>
        </ListPanel>

        <!-- Set Toggles -->
        <ListPanel
            IsVisible="@ShowSetControls"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
            HorizontalAlignment="Center"
            MarginTop="4"
            StackLayout.LayoutMethod="HorizontalLeftToRight">
            <Children>

                <!-- Civilian -->
                <ListPanel
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                    SuggestedHeight="32"
                    HorizontalAlignment="Center">
                    <Children>

                        <!-- Civilian Icon -->
                        {{ image.sprite(
                            sprite="SPGeneral\MapOverlay\Settlement\icon_militia_big",
                            width="32", height="32"
                        ) }}

                        <!-- Civilian Checkbox -->
                        {{ button.checkbox(
                            command="ExecuteToggleCivilianSet",
                            is_selected="@SetIsCivilian",
                            is_enabled="@CanToggleCivilianSet",
                            size="24",
                            hint="{CivilianHint}"
                        )}}

                    </Children>
                </ListPanel>

                <!-- Field Battle -->
                <ListPanel
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                    SuggestedHeight="32"
                    HorizontalAlignment="Center">
                    <Children>

                        <!-- Field Battle Icon -->
                        {{ image.sprite(
                            sprite="SPGeneral\MapOverlay\Settlement\icon_garrison_big",
                            width="32", height="32"
                        ) }}

                        <!-- Field Battle Checkbox -->
                        {{ button.checkbox(
                            command="ExecuteToggleEnableSetForFieldBattle",
                            is_selected="@SetIsEnabledForFieldBattle",
                            is_enabled="@CanToggleEnableForFieldBattle",
                            size="24",
                            hint="{FieldBattleHint}"
                        )}}

                    </Children>
                </ListPanel>

                <!-- Siege Defense -->
                <ListPanel
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                    SuggestedHeight="32"
                    HorizontalAlignment="Center">
                    <Children>

                        <!-- Siege Defense Icon -->
                        {{ image.sprite(
                            sprite="SPGeneral\MapOverlay\Settlement\icon_wall_big",
                            color="#a5bcd6ff",
                            width="32", height="32"
                        ) }}

                        <!-- Siege Defense Checkbox -->
                        {{ button.checkbox(
                            command="ExecuteToggleEnableSetForSiegeDefense",
                            is_selected="@SetIsEnabledForSiegeDefense",
                            is_enabled="@CanToggleEnableForSiegeDefense",
                            size="24",
                            hint="{SiegeDefenseHint}"
                        )}}

                    </Children>
                </ListPanel>

                <!-- Siege Assault -->
                <ListPanel
                    WidthSizePolicy="CoverChildren" HeightSizePolicy="Fixed"
                    SuggestedHeight="32"
                    HorizontalAlignment="Center">
                    <Children>

                        <!-- Siege Assault Icon -->
                        {{ image.sprite(
                            sprite="SPGeneral\MapOverlay\Settlement\icon_wall_big",
                            color="#dbaeaeff",
                            width="32", height="32"
                        ) }}

                        <!-- Siege Assault Checkbox -->
                        {{ button.checkbox(
                            command="ExecuteToggleEnableSetForSiegeAssault",
                            is_selected="@SetIsEnabledForSiegeAssault",
                            is_enabled="@CanToggleEnableForSiegeAssault",
                            size="24",
                            hint="{SiegeAssaultHint}"
                        )}}

                    </Children>
                </ListPanel>

            </Children>
        </ListPanel>
    </Children>
</ListPanel>
