<BrushListPanel
    DataSource="{List}"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
    VerticalAlignment="Bottom"
    MarginLeft="16"
    Brush="Frame1Brush"
    StackLayout.LayoutMethod="VerticalBottomToTop">

  <Children>

    {% include "_/list/header.j2" %}

    {% include "_/list/main.base.j2" %}

  </Children>
</BrushListPanel>
