<ListPanel
    WidthSizePolicy="CoverChildren"
    HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalTopToBottom">
    <Children>

        {# Rows under this header #}
        <ListPanel
            Id="ElementsList"
            DataSource="{Elements}"
            WidthSizePolicy="CoverChildren"
            HeightSizePolicy="CoverChildren"
            IsVisible="@IsExpanded"
            StackLayout.LayoutMethod="VerticalBottomToTop">

            <ItemTemplate>
                <ButtonWidget 
                    IsSelected="@IsSelected"
                    IsEnabled="@IsEnabled"
                    DoNotPassEventsToChildren="true"
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed" 
                    SuggestedHeight="68"
                    SuggestedWidth="!Clan.Management.Collapser.Width" 
                    Brush="Clan.Item.Tuple" 
                    Command.Click="ExecuteSelect" 
                    UpdateChildrenStates="true">
                    <Children>

                        {# Outer content container #}
                        <Widget
                            WidthSizePolicy="StretchToParent"
                            HeightSizePolicy="StretchToParent"
                            MarginLeft="10"
                            DoNotAcceptEvents="true">
                            <Children>

                                <ListPanel
                                    WidthSizePolicy="CoverChildren"
                                    HeightSizePolicy="StretchToParent"
                                    HorizontalAlignment="Left"
                                    DoNotAcceptEvents="true">
                                    <Children>

                                        {# Label #}
                                        <TextWidget
                                            WidthSizePolicy="CoverChildren"
                                            HeightSizePolicy="StretchToParent"
                                            VerticalAlignment="Center"
                                            Brush="Clan.Tuple.Name.Text"
                                            Text="@Label" />

                                    </Children>
                                </ListPanel>

                            </Children>
                        </Widget>

                    </Children>
                </ButtonWidget>
            </ItemTemplate>

        </ListPanel>

        {# Header toggle #}
        <PartyHeaderToggleWidget
            Id="HeaderToggle"
            IsEnabled="@IsEnabled"
            DoNotPassEventsToChildren="true"
            WidthSizePolicy="Fixed"
            HeightSizePolicy="Fixed"
            SuggestedWidth="!Clan.Management.Collapser.Width"
            SuggestedHeight="!Clan.Management.Collapser.Height"

            Brush="Clan.Management.Collapser"
            RenderLate="true"
            HorizontalAlignment="Left"
            VerticalAlignment="Top"
            MarginBottom="@MarginBottom"

            Command.Click="ExecuteToggle"
            WidgetToClose="..\ElementsList"
            CollapseIndicator="HeaderCollapser\HeaderCollapseIndicator">
            <Children>

                <ListPanel
                    Id="HeaderCollapser"
                    WidthSizePolicy="CoverChildren"
                    HeightSizePolicy="CoverChildren"
                    HorizontalAlignment="Center"
                    VerticalAlignment="Center"
                    StackLayout.LayoutMethod="HorizontalLeftToRight">
                    <Children>

                        {# Arrow sprite (Active) #}
                        <BrushWidget
                            IsVisible="@IsEnabled"
                            Id="HeaderCollapseIndicator"
                            WidthSizePolicy="Fixed"
                            HeightSizePolicy="Fixed"
                            SuggestedWidth="!Party.Toggle.ExpandIndicator.Width"
                            SuggestedHeight="!Party.Toggle.ExpandIndicator.Height"
                            VerticalAlignment="Center"
                            PositionYOffset="-2"
                            MarginRight="5"
                            Brush="Party.Toggle.ExpandIndicator" />

                        {# Arrow sprite (Inactive) #}
                        <BrushWidget
                            IsHidden="@IsEnabled"
                            WidthSizePolicy="Fixed"
                            HeightSizePolicy="Fixed"
                            SuggestedWidth="!Party.Toggle.ExpandIndicator.Width"
                            SuggestedHeight="!Party.Toggle.ExpandIndicator.Height"
                            VerticalAlignment="Center"
                            PositionYOffset="-2"
                            MarginRight="5"
                            Brush="Party.Toggle.ExpandIndicator" />

                        {# Header label #}
                        <TextWidget
                            Id="HeaderName"
                            WidthSizePolicy="CoverChildren"
                            HeightSizePolicy="CoverChildren"
                            VerticalAlignment="Center"
                            Brush="Clan.Management.Collapser.Text"
                            Text="@Name" />

                        {# Count #}
                        <TextWidget
                            Id="HeaderCount"
                            WidthSizePolicy="CoverChildren"
                            HeightSizePolicy="CoverChildren"
                            VerticalAlignment="Center"
                            MarginLeft="8"
                            Brush="Clan.Management.Collapser.Text"
                            Text="@ElementCountText" />

                    </Children>
                </ListPanel>

            </Children>
        </PartyHeaderToggleWidget>

    </Children>
</ListPanel>
