{# ---------------------------------------------- #}
{# List panel                                     #}
{# ---------------------------------------------- #}

<Widget
    IsVisible="@IsListVisible"
    WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
    VerticalAlignment="Bottom"
    MarginLeft="16">
    <Children>
        <BrushListPanel
            DataSource="{List}"
            WidthSizePolicy="CoverChildren" HeightSizePolicy="StretchToParent"
            VerticalAlignment="Bottom"
            Brush="Frame1Brush"
            StackLayout.LayoutMethod="{{ vttb }}">
            <Children>

                {# ------------------------------------------ #}
                {# Header                                     #}
                {# ------------------------------------------ #}
                {% include "_/list/list.header.j2" %}

                {# ------------------------------------------ #}
                {# Main list                                  #}
                {# ------------------------------------------ #}
                {% include "_/list/list.main.base.j2" %}

            </Children>
        </BrushListPanel>
    </Children>
</Widget>