{# ---------------------------------------------- #}
{# Header + expandable rows                       #}
{# ---------------------------------------------- #}

<ListPanel
    WidthSizePolicy="CoverChildren"
    HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalTopToBottom">
    <Children>

        {# ------------------------------------------ #}
        {# Rows under this header                     #}
        {# ------------------------------------------ #}

        <ListPanel
            Id="RowsList"
            DataSource="{ExpandedRows}"
            WidthSizePolicy="CoverChildren"
            HeightSizePolicy="CoverChildren"
            IsVisible="@IsExpanded"
            StackLayout.LayoutMethod="VerticalBottomToTop">
            <ItemTemplate>

                <AutoScrollButtonWidget
                    IsSelected="@IsSelected"
                    IsEnabled="@IsEnabled"
                    IsVisible="@IsVisible"
                    DoNotPassEventsToChildren="true"
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="!Clan.Management.Collapser.Width"
                    SuggestedHeight="68"
                    Brush="@Brush"
                    Command.Click="ExecuteSelect"
                    UpdateChildrenStates="true"
                    AutoScrollEnabled="@AutoScrollEnabled"
                    AutoScrollVersion="@AutoScrollVersion"
                    AutoScrollScope="@AutoScrollScope"
                    AutoScrollTopOffset="0"
                    AutoScrollBottomOffset="0"
                    AutoScrollVerticalTarget="0.4"
                    AutoScrollInterpolationTime="0.25">
                    <Children>

                        {# Row hint #}
                        <HintWidget
                            DataSource="{Tooltip}"
                            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                            HorizontalAlignment="Center" VerticalAlignment="Center"
                            Command.HoverBegin="ExecuteBeginHint"
                            Command.HoverEnd="ExecuteEndHint" />

                        {# ---------------------------------- #}
                        {# Row content                        #}
                        {# ---------------------------------- #}

                        {# Character rows #}
                        {% include "_/list/row/character/character.j2" %}
                        {% include "_/list/row/character/hero.j2" %}
                        {% include "_/list/row/character/retinue.unlock.j2" %}

                        {# Equipment row #}
                        {% include "_/list/row/equipment/item.j2" %}

                        {# Library rows #}
                        {% include "_/list/row/library/character.j2" %}
                        {% include "_/list/row/library/faction.j2" %}

                        {# Doctrines rows #}
                        {% include "_/list/row/doctrines/doctrine.j2" %}

                    </Children>
                </AutoScrollButtonWidget>

            </ItemTemplate>
        </ListPanel>

        {# ------------------------------------------ #}
        {# Header toggle                              #}
        {# ------------------------------------------ #}

        {% include "_/list/list.main.entries.toggle.j2" %}

    </Children>
</ListPanel>
