<ListPanel
    WidthSizePolicy="CoverChildren"
    HeightSizePolicy="CoverChildren"
    StackLayout.LayoutMethod="VerticalTopToBottom">
    <Children>

        {# Rows under this header #}
        <ListPanel
            Id="RowsList"
            DataSource="{ExpandedRows}"
            WidthSizePolicy="CoverChildren"
            HeightSizePolicy="CoverChildren"
            IsVisible="@IsExpanded"
            StackLayout.LayoutMethod="VerticalBottomToTop">

            <ItemTemplate>
                <AutoScrollButtonWidget 
                    IsSelected="@IsSelected"
                    IsEnabled="@IsEnabled"
                    IsVisible="@IsVisible"
                    DoNotPassEventsToChildren="true"
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed" 
                    SuggestedHeight="68"
                    SuggestedWidth="!Clan.Management.Collapser.Width" 
                    Brush="@Brush" 
                    Command.Click="ExecuteSelect" 
                    UpdateChildrenStates="true"
                    AutoScrollEnabled="@AutoScrollEnabled"
                    AutoScrollVersion="@AutoScrollVersion"
                    AutoScrollScope="@AutoScrollScope"
                    AutoScrollTopOffset="0"
                    AutoScrollBottomOffset="0"
                    AutoScrollVerticalTarget="0.4"
                    AutoScrollInterpolationTime="0.25">
                    <Children>

                        <!-- Row  Hint -->
                        <HintWidget
                            DataSource="{Tooltip}"
                            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                            HorizontalAlignment="Center" VerticalAlignment="Center"
                            Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>

                        {# Character row #}
                        {% include "_/list/character/row.j2" %}

                        {# Equipment row #}
                        {% include "_/list/equipment/row.j2" %}

                    </Children>
                </AutoScrollButtonWidget>
            </ItemTemplate>

        </ListPanel>

        {# Header toggle #}
        {% include "_/list/main.entries.toggle.j2" %}

    </Children>
</ListPanel>
