<Widget
        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
        SuggestedWidth="!Clan.Management.Collapser.Width"
        SuggestedHeight="60">
    <Children>

        {# Disabled-looking collapser background #}
        <ToggleButtonWidget
                WidthSizePolicy="StretchToParent"
                HeightSizePolicy="StretchToParent"
                Brush="Clan.Management.Collapser"
                IsEnabled="false"
                DoNotAcceptEvents="true"
                DoNotPassEventsToChildren="true"
                UpdateChildrenStates="true"/>

        <ListPanel
                WidthSizePolicy="CoverChildren"
                HeightSizePolicy="CoverChildren"
                HorizontalAlignment="Center"
                VerticalAlignment="Center">
            <Children>

                {# Filter label #}
                <TextWidget
                        WidthSizePolicy="CoverChildren" HeightSizePolicy="CoverChildren"
                        HorizontalAlignment="Center" VerticalAlignment="Center"
                        Brush="Clan.LeftPanel.Header.Text"
                        MarginRight="16"
                        Text="@FilterLabel" />

                {# Filter input area #}
                <BrushWidget
                        VerticalAlignment="Center" HorizontalAlignment="Right"
                        DoNotAcceptEvents="false"
                        WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                        SuggestedWidth="300" SuggestedHeight="40"
                        Brush="SPOptions.Dropdown.Center">
                    <Children>
                        <EditableTextWidget
                            Text="@FilterText"
                            WidthSizePolicy="StretchToParent" HeightSizePolicy="StretchToParent"
                            HorizontalAlignment="Center" VerticalAlignment="Center"
                            Brush="Crafting.NameInput.Text"
                            UpdateChildrenStates="true">
                            <Children>
                                <HintWidget
                                    DataSource="{FilterTooltip}"
                                    Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>
                            </Children>
                        </EditableTextWidget>
                    </Children>
                </BrushWidget>

                {# Clear filter button #}
                <ButtonWidget
                    WidthSizePolicy="Fixed" HeightSizePolicy="Fixed"
                    SuggestedWidth="40" SuggestedHeight="40"
                    MarginLeft="8"
                    VerticalAlignment="Center"
                    Brush="Popup.CloseButton"
                    Command.Click="ExecuteClearFilter"
                    DoNotPassEventsToChildren="true">
                    <Children>
                        <HintWidget
                            DataSource="{ClearFilterTooltip}"
                            Command.HoverBegin="ExecuteBeginHint" Command.HoverEnd="ExecuteEndHint"/>
                    </Children>
                </ButtonWidget>

            </Children>
        </ListPanel>

    </Children>
</Widget>